<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#FFF5ED; width:500px">
	<tbody>
		<tr>
			<td colspan="3">
			<table border="0" cellpadding="0" cellspacing="0" style="background:#452311; width:100%">
				<tbody>
					<tr>
						<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><img alt="logo" src="http://prm2.clovedental.in/web/images/clove-logo.png" /></td>
					</tr>
					<tr>
						<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td colspan="2"><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">Dear ***USERNAME***,</td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">
						<p>This is an automated response to your request for ***REPORTNAME*** dated&nbsp;***REQUESTEDDATE***,&nbsp;please do not reply to this email.</p>

						<p>***MSGNORECORD***.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td style="width:40%">Report:</td>
						<td>***REPORTNAME***</td>
					</tr>
					<tr>
						<td style="width:40%">Facility :</td>
						<td>***FACILITYNAME***</td>
					</tr>
					<tr>
						<td style="vertical-align:top; width:40%">Date Range Selection:</td>
						<td>***SEARCHPARAM***</td>
					</tr>
					<tr>
						<td colspan="2">
						<p>Note: The attachment can be viewed through any application that supports csv format.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2"><br />
						&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
			<td>With Best Regards,<br />
			PRM Admin.</td>
			<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td colspan="3"><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
	</tbody>
</table>
