<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#f8f8fa url(http://prm2.clovedental.in/web/imgs/pattern.png) repeat top left; width:500px; color: #444444;">
	<tbody>
		<tr style="background:#452311; width:100%">
			<td style="text-align:center; padding: 15px 0;">
				<img alt="logo" src="http://prm2.clovedental.in/web/images/clove-logo.png" />
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif;">
				<table border="0" cellpadding="0" cellspacing="0" align="center" width="480px" style="width:480px; font-size: 14px;">
					<tbody>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><span>Dear ***PATIENT_NAME***,</span></td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><span>You have a tentative appointment with the doctor at Clove <strong>***FACILITYNAME***</strong> clinic.<br /><strong>Your Updated appointment details are mentioned below - </strong></span></td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td width="100px" style="font-weight: bold; font-family:calibri,helvetica,arial,sans-serif;">When</td>
							<td width="40px" align="center"><b>:</b></td>
							<td width="340px" style="font-family:calibri,helvetica,arial,sans-serif;">***APPDATETIME***</td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr valign="top">
							<td width="100px" style="font-weight: bold; font-family:calibri,helvetica,arial,sans-serif;">Where</td>
							<td width="40px" align="center"><b>:</b></td>
							<td width="340px" style="font-family:calibri,helvetica,arial,sans-serif;">Clove ***FACILITYNAME***</td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><strong>For any queries, contact us at: <span  style="color: #fa9948;">***FACILITY_PHONE***</span></strong></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><strong>You can read more about Clove Dental at <a href="http://***FACILITY_WEBSITE***" style="color: #fa9948;">***FACILITY_WEBSITE***</a></strong></td>
						</tr>
						<tr>
							<td colspan="3"><br /></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif; font-size: 14px; text-align: right; padding: 10px 10px 0 0;">
				<span><strong>Regards, Clove Dental</strong></span>
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif; font-size: 14px; text-align: right; padding: 10px 10px 0 0;">***FACILITYNAME***<br />***FACILITY_STREET***,***FACILITY_CITY***, ***FACILITY_STATE***<br /><a href="http://***FACILITY_WEBSITE***">***FACILITY_WEBSITE***</a>
			</td>
		</tr>
		<tr style="height: 10px;">
			<td height="10px"></td>
		</tr>
	</tbody>
</table>