<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#f8f8fa url(http://prm2.clovedental.in/web/imgs/pattern.png) repeat top left; width:500px; color: #444444;">
	<tbody>
		<tr style="background:#452311; width:100%">
			<td style="text-align:center; padding: 15px 0;">
				<img alt="logo" src="http://prm2.clovedental.in/web/images/clove-logo.png" />
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif;">
				<table border="0" cellpadding="0" cellspacing="0" align="center" width="480px" style="width:480px; font-size: 14px;">
					<tbody>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><span>Dear ***PROVIDER_NAME***,</span></td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><span>You have <strong>***TOTAL_REMINDER***</strong> reminders at&nbsp;<strong>***FACILITY_NAME***</strong> clinic today, please follow-up on them to closure. <br /><strong>Following are the details for your use:- </strong></span></td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td  colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;">***PATIENT_DETAILS***</td>
						</tr>
						<tr>
							<td colspan="3" style="height:15px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-weight: bold; font-family:calibri,helvetica,arial,sans-serif;">For any queries, contact us at : <span style="color: #fa9948;">***FACILITY_PHONE***</span></td>
						</tr>
						<tr>
							<td colspan="3" style="font-weight: bold; font-family:calibri,helvetica,arial,sans-serif;">You can read more about Clove Dental at : <a href="http://***FACILITY_WEBSITE***" style="color: #fa9948;">***FACILITY_WEBSITE***</a></td>
						</tr>
						<tr>
							<td colspan="3"><br /></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif; font-size: 14px; text-align: right; padding: 10px 10px 0 0;">
				<span><strong>Regards, Clove Dental</strong></span>
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif; font-size: 14px; text-align: right; padding: 10px 10px 0 0;">
				<span>***FACILITY_STREET***<br />***FACILITY_CITY***, ***FACILITY_STATE***, ***FACILITY_COUNTRY*** - ***FACILITY_ZIP***<br />***FACILITY_PHONE***<br /><a href="http://***FACILITY_WEBSITE***">***FACILITY_WEBSITE***</a></span>
			</td>
		</tr>
		<tr style="height: 10px;">
			<td height="10px"></td>
		</tr>
	</tbody>
</table>