<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0 auto;background-color:#ebebeb;font-size:12px;">
    <tbody>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table" style="border-collapse:collapse;padding:0;margin:0 auto;width:600px;">
                    <tbody>
                        <tr>
                            <td>
                                <span style="max-width:165px;height:45px;display: inline-block;margin: 20px 0 0;">
                                <img alt="One Ivory || Dental Supply Network" class="CToWUd" src="http://oneivory.com/media/email/logo/default/template_logo.png" width="165px" height="45px" style="max-width:165px;height:45px;text-decoration:none;margin: 0;float: left;" />                                    
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>                
            </td>
        </tr>
        <tr>
            <td valign="top" class="container-td" align="center" style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0;width:100%;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table" style="border-collapse:collapse;padding:0;margin:0 auto;width:600px;"> 
                    <tbody>
                        <tr>
                            <td style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0;">
                                <table cellpadding="0" cellspacing="0" border="0" class="logo-container" style="border-collapse:collapse;padding:0;margin:0;width:100%;">
                                    <tbody>
                                        <tr>
                                            <td class="logo" style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:15px 0px 10px 5px;margin:0;">
                                                <a href="http://www.oneivory.com/" style="color:#3696c2;float:left;" rel="nofollow"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" class="top-content" style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:5px;margin:0;border:1px solid #ebebeb;background:#FFF;">
                                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0;width:100%;">
                                    <tbody>
                                        <tr>
                                            <td style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0;">
                                                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="email-heading" style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0 1%;margin:0;background:#e1f0f8;border-right:1px dashed #c3ced4;text-align:center;width:58%;">
                                                                <h1 style="font-family:Verdana, Arial;font-weight:700;font-size:16px;margin:1em 0;line-height:20px;text-transform:uppercase;margin-top:43px;">RETURN REQUEST SUBMITTED FOR APPROVAL.</h1>
                                                            </td>
                                                            <td class="store-info" style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:2%;margin:0;background:#e1f0f8;width:40%; text-align: left;">
                                                                <h4 style="font-family:Verdana, Arial;font-weight:bold;margin-bottom:5px;font-size:12px;margin-top:13px;">Order Questions?</h4>
                                                                <p style="font-family:Verdana, Arial;font-weight:normal;font-size:11px;line-height:17px;margin:1em 0;">
                                                                <b>Call Us:</b>
                                                                <a style="color:#3696c2;text-decoration:underline;">011 3355 3232</a><br>
                                                                <span class="no-link">9 AM to 9 PM</span><br>
                                                                <b>Email:</b>
                                                                <a href="mailto:noreply@oneivory.com" style="color:#3696c2;text-decoration:underline;">noreply@oneivory.com</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                    </tbody>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0;width:100%;">
                                    <tbody>
                                        <tr>
                                            <td class="address-details" style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:30px 15px;margin:0;text-align:left;">
                                                <h6 style="font-family:Verdana, Arial;font-weight:700;font-size:12px;margin-bottom:0px;margin-top:5px;">Dear ***USERNAME***,</h6>
                                                <p style="font-family:Verdana, Arial;font-weight:normal;font-size:12px;line-height:25px;margin:0;">
                                                    <span class="no-link">
                                                        This is an automated response to your request for ***REPORTNAME*** dated&nbsp;***REQUESTEDDATE***,&nbsp;please do not reply to this email.<br />
                                                        Order Id:***MSGNORECORD***<br />
                                                        Report: ***REPORTNAME***<br />
                                                        Facility: ***FACILITYNAME***<br />
														Date Range Selection: ***SEARCHPARAM***<br />
														Note: The attachment can be viewed through any application that supports csv format.<br />
                                                    </span>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0;width:100%;background:#e1f0f8;">
                                    <tbody>
                                        <tr>
                                            <td style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0;">
                                                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;padding:0;margin:0;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="email-heading" style="padding:5px;">&nbsp;</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="font-family:Verdana, Arial;font-weight:normal;border-collapse:collapse;vertical-align:top;padding:0;margin:0;">
                <h5 class="closing-text" style="font-family:Verdana, Arial;font-weight:normal;text-align:center;font-size:22px;line-height:32px;margin-bottom:75px;margin-top:30px;color:#3a4a6b;">Thank you, OneIvory || Dental Supply Network!</h5>
            </td>
        </tr>
    </tbody>
</table>