<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:500px">
	<tbody>
		<tr>
			<td colspan="3">
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><img alt="logo" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/clove-logo.png" /></td>
					</tr>
					<tr>
						<td><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td colspan="2"><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">Dear ***PATIENT_NAME***,</td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">This is to notify you about your appointment at Clove Dental - ***FACILITYNAME***.</td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">For any queries, contact us at : <strong>***FACILITY_PHONE***</strong><br />
						You can read more about Clove Dental at <a href="http://***FACILITY_WEBSITE***">***FACILITY_WEBSITE***</a></td>
					</tr>
				</tbody>
			</table>
			</td>
			<td><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td style="text-align:right"><strong>Clove Dental</strong><br />
			***FACILITY_STREET***<br />
			***FACILITY_CITY***, ***FACILITY_STATE***, ***FACILITY_COUNTRY*** - ***FACILITY_ZIP***<br />
			***FACILITY_PHONE***<br />
			<a href="http://***FACILITY_WEBSITE***">***FACILITY_WEBSITE***</a></td>
			<td><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td colspan="3"><img alt="" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
	</tbody>
</table>
