<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:500px">
	<tbody>
		<tr>
			<td colspan="3">
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td><img alt="" src="http://www.fws.gov/home/climatechange/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><img alt="logo" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/clove-logo.png" /></td>
					</tr>
					<tr>
						<td><img alt="" src="http://www.fws.gov/home/climatechange/images/spacer.gif" style="height:10px" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="http://www.fws.gov/home/climatechange/images/spacer.gif" style="height:10px" /></td>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td colspan="2"><img alt="" src="http://www.fws.gov/home/climatechange/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">Dear (HR/ Finance) Team,</td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://www.fws.gov/home/climatechange/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">
						<p>Handover of charge from Dr. ***IDOCNAME*** to Dr. ***ADOCNAME*** for ***FACILITYNAME*** Clinic on ***HODATE*** has been rejected! Recovery if any from the outgoing Dr is on hold, till the reprocessing of the handover.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2"><br />
						&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td><img alt="" src="http://www.fws.gov/home/climatechange/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="http://www.fws.gov/home/climatechange/images/spacer.gif" style="height:10px" /></td>
			<td>With Best Regards,<br />
			Clove-PRM Team</td>
			<td><img alt="" src="http://www.fws.gov/home/climatechange/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td colspan="3"><img alt="" src="http://www.fws.gov/home/climatechange/images/spacer.gif" style="height:10px" /></td>
		</tr>
	</tbody>
</table>