<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#f8f8fa url(http://prm2.clovedental.in/web/imgs/pattern.png) repeat top left; width:500px; color: #444444; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
	<tbody>
		<tr style="background:#452311; width:100%">
			<td style="text-align:center; padding: 15px 0;">
				<img alt="logo" src="http://prm2.clovedental.in/web/images/clove-logo.png" />
			</td>
		</tr>
		<tr>
			<td>
				<table border="0" cellpadding="0" cellspacing="0" align="center" width="480px" style="width:480px;">
					<tbody>
						<tr>
							<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:18px" /></td>
						</tr>

						<tr>
							<td colspan="3" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;"><span>Dear ***CLINIC_HEAD***,</span></td>
						</tr>

						<tr>
							<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:18px" /></td>
						</tr>

						<tr>

						<tr>
							<td colspan="3" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;"><span>Please find Lab Work Order details for clinic <b> ***CLINIC_NAME*** </b> below :-</span></td>
						</tr>

						<tr>
							<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:18px" /></td>
						</tr>
                        ***WORK_ORDERS***

						<tr>
							<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:18px" /></td>
						</tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="right" style="font-family:calibri,helvetica,arial,sans-serif;"><span style="font-family:calibri,arial,sans-serif; font-size:14px;"><strong style=" margin-right: 10px; padding: 0 15px 0 0;">Regards, Team Clove</strong></span></td>
        </tr>
		<tr>
			<td><img alt="" src="http://prm2.clovedental.in/web/images/spacer.gif" style="height:18px" /></td>
		</tr>
    </tbody>
</table>