/**
    *FontFace: AvantGrade Family
**/

@font-face {
    font-family: 'AvantGradeRegular';
    src: url('fonts/texgyreadventor-regular-webfont.woff2') format('woff2'),
         url('fonts/texgyreadventor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGradeBold';
    src: url('fonts/texgyreadventor-bold-webfont.woff2') format('woff2'),
         url('fonts/texgyreadventor-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGradeItalic';
    src: url('fonts/texgyreadventor-italic-webfont.woff2') format('woff2'),
         url('fonts/texgyreadventor-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGradeBItalic';
    src: url('fonts/texgyreadventor-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/texgyreadventor-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvantGradeDemi';
    src: url('fonts/unicode.avantgd-webfont.woff2') format('woff2'),
         url('fonts/unicode.avantgd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/**
    *FontFace: Roboto Family
**/

@font-face {
    font-family: 'RobotoBlack';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('fonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/roboto-light-webfont.woff2') format('woff2'),
         url('fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoThin';
    src: url('fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('fonts/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/**
    *FontFace: Aachen Family
**/

@font-face {
    font-family: 'AachenRegular';
    src: url('fonts/aachen_regular-webfont.woff2') format('woff2'),
         url('fonts/aachen_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AachenBold';
    src: url('fonts/aachen_bold-webfont.woff2') format('woff2'),
         url('fonts/aachen_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AachenBoldRegular';
    src: url('fonts/aachen_bold_plain-webfont.woff2') format('woff2'),
         url('fonts/aachen_bold_plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AachenMediumRegular';
    src: url('fonts/aachen_medium_plain-webfont.woff2') format('woff2'),
         url('fonts/aachen_medium_plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}