<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#f8f8fa url(http://prm2.clovedental.in/web/imgs/pattern.png) repeat top left; width:500px; color: #444444;">
	<tbody>
		<tr style="background:#452311; width:100%">
			<td style="text-align:center; padding: 15px 0;">
				<img alt="logo" src="http://prm2.clovedental.in/web/images/clove-logo.png" />
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif;">
				<table border="0" cellpadding="0" cellspacing="0" align="center" width="480px" style="width:480px; font-size: 14px;">
					<tbody>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><span>Good Morning ***PROVIDERNAME***,</span></td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><span>You have ***NUMBER_OF_APP*** appointments today at Clove Dental - ***FACILITYNAME*** Clinic. <br /><strong>Here is your schedule for the day :</strong></span></td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-weight: bold; font-family:calibri,helvetica,arial,sans-serif;"><span style="color: #fa9948;">***SCHEDULED_APPOINTMENT_FOR_DAY***</span></td>
						</tr>
						<tr>
							<td colspan="3"><br /></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="right" style="font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;">
				<span style="margin-right: 10px;"><strong>Regards, Clove Dental</strong></span>
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif; font-size: 14px; text-align: right; padding: 10px 10px 0 0;">
				<span>***FACILITY_STREET***<br />***FACILITY_CITY***, ***FACILITY_STATE***, ***FACILITY_COUNTRY*** - <br />***FACILITY_ZIP***<br />***FACILITY_PHONE***<br /><a href="http://***FACILITY_WEBSITE***">***FACILITY_WEBSITE***</a></span>
			</td>
		</tr>
		<tr style="height: 10px;">
			<td height="10px"></td>
		</tr>
	</tbody>
</table>