<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#f8f8fa url(http://prm2.clovedental.in/web/imgs/pattern.png) repeat top left; width:500px; color: #444444;">
	<tbody>
		<tr style="background:#452311; width:100%">
			<td style="text-align:center; padding: 15px 0;">
				<img alt="logo" src="http://prm2.clovedental.in/web/images/clove-logo.png" />
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif;">
				<table border="0" cellpadding="0" cellspacing="0" align="center" width="480px" style="width:480px; font-size: 14px;">
					<tbody>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><span>Dear ***USERNAME***,</span></td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td colspan="3" style="font-family:calibri,helvetica,arial,sans-serif;"><span>This is an automated response to your request for <strong>***REPORTNAME***</strong>&nbsp;dated&nbsp;<strong>***REQUESTEDDATE***</strong>, please do not reply to this email.</span></td>
						</tr>

						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan='3'><table border='0' cellpadding='5' cellspacing='0' align='center' width='480px' style='width:480px; font-size: 14px; text-align: left; background: #ffffff; border: 1px solid #cac2be; clear: both; margin-bottom: 15px;'>
									<tbody>
										<tr>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'><strong>***MSGNORECORD***.</strong></td>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr>
							<td width="140px" style="font-weight: bold; font-family:calibri,helvetica,arial,sans-serif;">Report</td>
							<td width="40px" align="center"><b>:</b></td>
							<td width="300px" style="font-family:calibri,helvetica,arial,sans-serif;">***REPORTNAME***</td>
						</tr>
						<tr>
							<td colspan="3" style="height:10px" /></td>
						</tr>
						<tr valign="top">
							<td width="140px" style="font-weight: bold; font-family:calibri,helvetica,arial,sans-serif;">Facility</td>
							<td width="40px" align="center"><b>:</b></td>
							<td width="300px" style="font-family:calibri,helvetica,arial,sans-serif;">***FACILITYNAME***</td>
						</tr>
                        <tr style="height: 10px;">
                        	<td colspan="3" height="10px"></td>
                        </tr>
						<tr valign="top">
							<td width="140px" style="font-weight: bold; font-family:calibri,helvetica,arial,sans-serif;">Date Range Selection</td>
							<td width="40px" align="center"><b>:</b></td>
							<td width="300px" style="font-family:calibri,helvetica,arial,sans-serif;">***SEARCHPARAM***</td>
						</tr>
                        <tr style="height: 10px;">
                        	<td colspan="3" height="10px"></td>
                        </tr>
						<tr>
							<td colspan="3" style="font-weight: bold; font-family:calibri,helvetica,arial,sans-serif;">Note: <span style="color: #fa9948;">The attachment can be viewed through any application that supports CSV format.</span></td>
						</tr>
						<tr>
							<td colspan="3"><br /></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="right" style="font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;">
				<span style="margin-right: 10px;"><strong>With Best Regards,</strong></span>
			</td>
		</tr>
		<tr>
			<td style="font-family:calibri,helvetica,arial,sans-serif; font-size: 14px; text-align: right; padding: 10px 10px 0 0;">
				PRM Admin.
			</td>
		</tr>
		<tr style="height: 10px;">
			<td height="10px"></td>
		</tr>
	</tbody>
</table>