<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#FFF5ED; width:500px">
	<tbody>
		<tr>
			<td colspan="3">
			<table border="0" cellpadding="0" cellspacing="0" style="background:#452311; width:100%">
				<tbody>
					<tr>
						<td><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><img alt="logo" src="http://default-environment-6mxp6t2qqk.elasticbeanstalk.com/Clove-Server/web/images/clove-logo.png" /></td>
					</tr>
					<tr>
						<td><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td><span style="font-family:helvetica,arial,sans-serif; font-size:12px">Good Morning ***PROVIDERNAME***, </span></td>
					</tr>
					<tr>
						<td><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td><span style="font-family:helvetica,arial,sans-serif; font-size:12px">You have ***NUMBER_OF_APP*** appointments today at Clove Dental - ***FACILITYNAME*** Clinic. Here is your schedule for the day : </span></td>
					</tr>
					<tr>
						<td><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td><span style="font-family:helvetica,arial,sans-serif; font-size:12px">***SCHEDULED_APPOINTMENT_FOR_DAY***</span></td>
					</tr>
				</tbody>
			</table>
			</td>
			<td><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td style="text-align:right"><span style="font-family:helvetica,arial,sans-serif; font-size:12px"><strong>Clove Dental</strong></span><br />
			<span style="font-family:helvetica,arial,sans-serif; font-size:12px">***FACILITY_STREET***<br />
			***FACILITY_CITY***, ***FACILITY_STATE***, ***FACILITY_COUNTRY*** - ***FACILITY_ZIP***<br />
			***FACILITY_PHONE***<br />
			<a href="http://***FACILITY_WEBSITE***">***FACILITY_WEBSITE***</a> </span></td>
			<td><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td colspan="3"><img alt="" src="http://52.76.7.225/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
	</tbody>
</table>
