<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#FFF5ED; width:500px">
	<tbody>
		<tr>
			<td colspan="3">
			<table border="0" cellpadding="0" cellspacing="0" style="background:#452311; width:100%">
				<tbody>
					<tr>
						<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><img alt="logo" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/clove-logo.png" /></td>
					</tr>
					<tr>
						<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2"><span style="font-family:helvetica,arial,sans-serif; font-size:12px">Dear ***PATIENT_NAME***, </span></td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">A tentative appointment is booked with the doctor at Clove ***FACILITYNAME*** clinic<span style="font-family:helvetica,arial,sans-serif; font-size:12px">. Your appointment details are mentioned below - </span></td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td style="width:30%"><span style="font-family:helvetica,arial,sans-serif; font-size:12px"><strong>When</strong></span>:</td>
						<td><span style="font-family:helvetica,arial,sans-serif; font-size:12px">***APPDATETIME***</span></td>
					</tr>
					<tr>
						<td style="vertical-align:top"><span style="font-family:helvetica,arial,sans-serif; font-size:12px"><strong>Where</strong></span>:</td>
						<td><span style="font-family:helvetica,arial,sans-serif; font-size:12px">Clove ***FACILITYNAME*** </span></td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2"><span style="font-family:helvetica,arial,sans-serif; font-size:12px">For any queries, contact us at : </span> <span style="font-family:helvetica,arial,sans-serif; font-size:12px"><strong>***FACILITY_PHONE***</strong></span><br />
						<span style="font-family:helvetica,arial,sans-serif; font-size:12px">You can read more about Clove Dental at </span> <a href="http://***FACILITY_WEBSITE***" style="font-size:12px; font-family: Helvetica,Arial,sans-serif;">***FACILITY_WEBSITE***</a></td>
					</tr>
				</tbody>
			</table>
			</td>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td style="text-align:right"><span style="font-family:helvetica,arial,sans-serif; font-size:12px">Clove ***FACILITYNAME***<br />
			***FACILITY_STREET***,***FACILITY_CITY***, ***FACILITY_STATE***<br />
			<a href="http://***FACILITY_WEBSITE***">***FACILITY_WEBSITE***</a> </span></td>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td colspan="3"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
	</tbody>
</table>
