<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#f8f8fa url(http://prm2.clovedental.in/web/imgs/pattern.png) repeat top left; width:500px; color: #444444; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
	<tbody>
		<tr style="background:#452311; width:100%">
			<td style="text-align:center; padding: 15px 0;">
				<img alt="logo" src="http://prm2.clovedental.in/web/images/clove-logo.png" />
			</td>
		</tr>
		<tr>
			<td>
				<table border="0" cellpadding="0" cellspacing="0" align="center" width="480px" style="width:480px;">
					<tbody>
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;"><span>Dear Super Administrator,</span></td>
						</tr>

						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>
						<tr>

						<tr>
							<td colspan="3" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;"><span>Please find Lab Work Order details for clinic Saket below :-</span></td>
						</tr>

						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; padding: 5px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 19px; width: 100%; text-align: center;" align="center">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td style="font-size: 19px; font-family:calibri,helvetica,arial,sans-serif; text-align: center; font-weight: bold;">
												<span>Lab WO No.:</span>
												<span style="color: #ee9b56;">2017-18/WN0001-1000020</span>	
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; font-size: 14px; width: 100%; color: #444444;">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td width="225px" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<span style="font-weight: bold;">Updated Date:</span>
												<span style="color: #ee9b56;">04 Apr, 2018</span>
											</td>

											<td width="10px"></td>

											<td width="225px" style="text-align: right; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<span style="font-weight: bold;">Created Date:</span>
												<span style="color: #ee9b56;">04 Apr, 2018</span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan='3'><table border='0' cellpadding='5' cellspacing='0' align='center' width='100%' style='width:100%; font-size: 14px; text-align: left; background: #ffffff; border: 1px solid #cac2be; clear: both; margin-bottom: 15px;'>
									<thead>
										<tr style='background-color: #faa762; color: white;'>
											<th width='25%' style='font-size: 14px; font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Lab</th>
											<th width='25%' style='font-size: 14px; font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Name</th>
											<th width='25%' style='font-size: 14px; font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Id</th>
											<th width='15%' style='font-size: 14px; font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr style='border-bottom: 1px solid #ddd;'>
											<td style='font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;'>Cast A Bridge Lab</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;'>Vikas Srivastava</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;'>00012-10055</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;'>Created</td>
										</tr>
										<tr style='background-color: #f2f2f2;'>
											<td colspan='1' valign="top" style='font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;'><strong>Work Item(s) &raquo; </strong>
											</td>
											<td colspan="3" valign="top" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">1. PFM crown irt 45,46,47</p>
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">2. Dental Crown</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; font-size: 14px; width: 100%; color: #444444; text-decoration: line-through;">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td width="225px" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<span style="font-weight: bold;">Created Date:</span>
												<span style="color: #ee9b56;">04 Apr, 2018</span>
											</td>

											<td width="10px"></td>

											<td width="225px" style="text-align: right;">
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan='3'><table border='0' cellpadding='5' cellspacing='0' align='center' width='100%' style='width:100%; font-size: 14px; text-align: left; background: #ffffff; border: 1px solid #cac2be; clear: both; margin-bottom: 15px;'>
									<thead>
										<tr style='background-color: #faa762; color: white;'>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left; font-size: 14px;'>Lab</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left; font-size: 14px;'>Patient Name</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left; font-size: 14px;'>Patient Id</th>
											<th width='15%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left; font-size: 14px;'>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr style='border-bottom: 1px solid #ddd; text-decoration: line-through;'>
											<td style='font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;'>Cast A Bridge Lab</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;'>Vikas Srivastava</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;'>00012-10055</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif; font-size: 14px;'>Created</td>
										</tr>
										<tr style='background-color: #f2f2f2; text-decoration: line-through;'>
											<td colspan='1' valign="top" style='font-family:calibri,helvetica,arial,sans-serif;font-size: 14px;'><strong>Work Item(s) &raquo; </strong>
											</td>
											<td colspan="3" valign="top" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">1. PFM crown irt 45,46,47</p>
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">2. Dental Crown</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; padding: 5px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 19px; width: 100%; text-align: center;" align="center">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td style="font-size: 19px; font-family:calibri,helvetica,arial,sans-serif; text-align: center; font-weight: bold;" align="center">
												<span>Lab WO No.:</span>
												<span style="color: #ee9b56;">2017-18/WN0001-1000019</span>	
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; font-size: 14px; width: 100%; color: #444444; text-decoration: line-through;">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td width="225px" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<span style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">Deleted Date:</span>
												<span style="color: #ee9b56; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">04 Apr, 2018</span>
											</td>

											<td width="10px" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;"></td>

											<td width="225px" style="text-align: right; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<span style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">Created Date:</span>
												<span style="color: #ee9b56; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">04 Apr, 2018</span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan='3'><table border='0' cellpadding='5' cellspacing='0' align='center' width='480px' style='width:480px; font-size: 14px; text-align: left; background: #ffffff; border: 1px solid #cac2be; clear: both; margin-bottom: 15px;'>
									<thead>
										<tr style='background-color: #faa762; height: 20px; color: white;'>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Lab</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Name</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Id</th>
											<th width='15%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr style='border-bottom: 1px solid #ddd; text-decoration: line-through;'>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Cast A Bridge Lab</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Vikas Srivastava</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>00012-10055</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Created</td>
										</tr>
										<tr style='background-color: #f2f2f2; text-decoration: line-through;'>
											<td colspan='1' valign="top" style='font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;'><strong>Work Item(s) &raquo; </strong>
											</td>
											<td colspan="3" valign="top">
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">1. PFM crown irt 45,46,47</p>
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">2. Dental Crown</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; padding: 5px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 19px; width: 100%; text-align: center;">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<span style='color:#444; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;'>Lab WO No.:</span>
												<span style="color: #ee9b56; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">2017-18/WN0001-1000018</span>	
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; font-size: 14px; width: 100%; color: #444444; text-decoration: line-through;">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td width="225px" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<span style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">Deleted Date:</span>
												<span style="color: #ee9b56; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">04 Apr, 2018</span>
											</td>

											<td width="10px"></td>

											<td width="225px" style="text-align: right;" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">
												<span style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">Updated Date:</span>
												<span style="color: #ee9b56; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">04 Apr, 2018</span>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan='3'><table border='0' cellpadding='5' cellspacing='0' align='center' width='480px' style='width:480px; font-size: 14px; text-align: left; background: #ffffff; border: 1px solid #cac2be; clear: both; margin-bottom: 15px;'>
									<thead>
										<tr style='background-color: #faa762; height: 20px; color: white;'>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Lab</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Name</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Id</th>
											<th width='15%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr style='border-bottom: 1px solid #ddd; text-decoration: line-through;'>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Cast A Bridge Lab</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Vikas Srivastava</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>00012-10055</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Created</td>
										</tr>
										<tr style='background-color: #f2f2f2; text-decoration: line-through;'>
											<td colspan='1' valign="top" style='font-family:calibri,helvetica,arial,sans-serif;'><strong>Work Item(s) &raquo; </strong>
											</td>
											<td colspan="3" valign="top">
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">1. PFM crown irt 45,46,47</p>
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">2. Dental Crown</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; font-size: 14px; width: 100%; color: #444444; text-decoration: line-through;">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td width="225px">
												<span style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">Created Date:</span>
												<span style="color: #ee9b56; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">04 Apr, 2018</span>
											</td>

											<td width="10px"></td>

											<td width="225px" style="text-align: right;">
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan='3'><table border='0' cellpadding='5' cellspacing='0' align='center' width='480px' style='width:480px; font-size: 14px; text-align: left; background: #ffffff; border: 1px solid #cac2be; clear: both; margin-bottom: 15px;'>
									<thead>
										<tr style='background-color: #faa762; height: 20px; color: white;'>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Lab</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Name</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Id</th>
											<th width='15%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr style='border-bottom: 1px solid #ddd; text-decoration: line-through;'>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Corona Dental Lab</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Vikas Srivastava</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>00012-10055</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Created</td>
										</tr>
										<tr style='background-color: #f2f2f2; text-decoration: line-through;'>
											<td colspan='1' valign="top" style='font-family:calibri,helvetica,arial,sans-serif;'><strong>Work Item(s) &raquo; </strong>
											</td>
											<td colspan="3" valign="top">
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">1. RPD Lucitone upper arch with tooth numbers - 15, 16</p>
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">2. Dental Crown</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td colspan="3" style="height: 10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; padding: 5px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; font-size: 19px; width: 100%; text-align: center;">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td>
												<span style='color:#444; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;'>Lab WO No.:</span>
												<span style="color: #ee9b56; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">2017-18/WN0001-1000017</span>	
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan="3" style="font-weight: bold; font-size: 14px; width: 100%; color: #444444;">
								<table border='0' cellpadding='0' cellspacing='0' align='center' width="100%">
									<tbody>
										<tr>
											<td width="225px">
												<span style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">Created Date:</span>
												<span style="color: #ee9b56; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">04 Apr, 2018</span>
											</td>

											<td width="10px"></td>

											<td width="225px" style="text-align: right;">
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						
						<tr>
							<td colspan="3" style="height:10px;"></td>
						</tr>

						<tr>
							<td colspan='3'><table border='0' cellpadding='5' cellspacing='0' align='center' width='480px' style='width:480px; font-size: 14px; text-align: left; background: #ffffff; border: 1px solid #cac2be; clear: both; margin-bottom: 15px;'>
									<thead>
										<tr style='background-color: #faa762; height: 20px; color: white;'>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Lab</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Name</th>
											<th width='25%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Patient Id</th>
											<th width='15%' style='font-family:calibri,helvetica,arial,sans-serif; text-align: left;'>Status</th>
										</tr>
									</thead>
									<tbody>
										<tr style='border-bottom: 1px solid #ddd;'>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Corona Dental Lab</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Vikas Srivastava</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>00012-10055</td>
											<td style='font-family:calibri,helvetica,arial,sans-serif;'>Created</td>
										</tr>
										<tr style='background-color: #f2f2f2;'>
											<td colspan='1' valign="top" style='font-family:calibri,helvetica,arial,sans-serif;'><strong>Work Item(s) &raquo; </strong>
											</td>
											<td colspan="3" valign="top">
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">1. RPD Lucitone upper arch with tooth numbers - 15, 16</p>
												<p style="margin: 0 0 3px; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;">2. Dental Crown</p>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>

						<tr>
							<td colspan="3" style="height: 10px;"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td colspan="3">
				<table border='0' cellpadding='5' cellspacing='0' align='center' width='480px' style='width:480px;'>
					<tbody>
						<tr>
							<td width="230px" style="font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;"><strong>Primary Dentist: </strong> <br/>Aarti Goal</td>
							<td width="20px"></td>
							<td width="230px" style="text-align: right; font-size: 14px; font-family:calibri,helvetica,arial,sans-serif;"><strong>Created By:</strong><br/>Anjula Pahuja</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td colspan="3" style="height: 20px;"></td>
		</tr>

		<tr>
			<td align="right" style="padding: 0 15px 0 0;"><strong>Regards, Clove Dental</strong></td>
		</tr>

		<tr>
			<td colspan="3" style="height: 10px;"></td>
		</tr>
	</tbody>
</table>