/******************** verticle icons ********************/
.actnsVertIcns {
	text-align: right !important;
	font-size: 1.1em;

	&.actnsSmlFnts {
		font-size: .8em;
	}

	&.actnsMdFnts {
		font-size: .9em;
	}

	&.shiftRight {
		float: right;
	}

	a {
		@include size(auto);
		text-align: center;
		color: $txt_medgry;
		font-size: 0.8em;
		min-width: 40px;
		padding: 0 2px;
		margin: auto;

		&:hover, &:active, &:focus {
			color: $txt_cyan_clr;
		}

		span {
			&.actn-icn, .dashboardRefreshIcon {
				background: $cmn_sprite no-repeat top left;
				@include size(30px, 30px);
				display: block;
				margin: auto;

				&.add {
					background-position: -25px -70px;
				}

				&.edit {
					background-position: -886px -70px;
				}

				&.view {
					background-position: -25px -70px;
				}

				&.delete {
					background-position: -25px -70px;
				}

				&.history {
					background-position: -25px -70px;
				}

				&.print {
					background-position: -25px -70px;
				}

				&.cancel {
					background-position: -25px -70px;
				}

				&.save {
					background-position: -25px -70px;
				}

				&.dboard {
					background-position: -25px -70px;
				}

				&.copy {
					background-position: -21px -9px;
				}

				&.deactive {
					background-position: -81px -9px;
				}

				.srch  {
					background-position: -81px -9px;
				}

				.adv  {
					background-position: -81px -9px;
				}

				.rst  {
					background-position: -81px -9px;
				}
			}
		}
	}
}

.noCircleIcons {
    width: auto;
    text-align: center;
    display: inline-block;

	.icnLabel {
		font: .8em $avantgradeR;
		color: $txt_medgry;
	}

	.icns {
		background: $cmn_sprite no-repeat top left;
		@include size(33px, 32px);
		display: block;
		margin: auto;

		&.copy {
			background-position: -633px -10px;
		}
	}

	a {
		&:hover {
			.icnLabel {
				color: $txt_cyan_clr;
			}
		}
	}
}
/******************** verticle icons ********************/
