.dtpckr_icn {
	@include positioning(relative);

	.ui-datepicker-trigger {
		@include positioning(absolute);
		background: $bg_wht;
		cursor: pointer;
		bottom: 5px;
		right: 25px;
	}
}

.ui-datepicker {
    box-shadow: 0px 1px 4px rgba(0,0,0,.2);
    border: 1px solid $brdr_cyan;
	@include size(250px, auto);
	z-index: 9 !important;
	@include radius(10px);
    background: $bg_wht;
	font: 1em $calibri;
	color: $txt_medgry;
	display: none;
    padding: 5px;

    .ui-datepicker-header {
		background: $brdr_lgrey;
		@include radius(5px);
		font-size: .85em;
		font-weight: 600;
		padding: 5px;

		.ui-datepicker-prev {
			float: left;

			.ui-icon {
				background: url('../../img/prev_icn.png') no-repeat center center;
				@include positioning(absolute);
				@include size(16px, 16px);
				text-indent: -99999px;
			}
		}

		.ui-datepicker-next {
			float: right;

			.ui-icon {
				background: url('../../img/next_icn.png') no-repeat center center;
				@include positioning(absolute);
				@include size(16px, 16px);
				text-indent: -99999px;
			}
		}

		.ui-datepicker-title {
			color: $txt_cyan_clr;
			text-align: center;
		}
    }
}