/*
	*footer styles
*/
footer {
	@include positioning(fixed);
	@include size(100%, auto);
	font: 600 .85em $avantgradeR;
	color: $txt_cyan_clr;
	text-align: center;
	margin: 5px 0;
	padding: 0;
    bottom: 0;
}