/*
	*header styles
*/
header {
	@include size(100%, auto);
	margin: 0 0 12px;

	.pdtop15 {
		padding: 11px 0 0 0;
	}

	.topBrdr {
		border-top: 4px solid #0f7f97;		
	}

	.hdr_mn {
		background-color: $bgcolor_cyan;
	}

	.container-fluid {
		.navbar-collapse {
			width: 100%;
			padding: 0;
			margin: 0;

			.nav {
				width: 100%;
				padding: 0;
				margin: 0;

				>li {
					padding: 15px 0;
				}

				>li.usrNameCont {
					a {
						float: right;
					}
				}
			}

			.navbar-nav {
				> li > a{
					padding: 0;
				}
			}

			.nav > li > a:hover, .nav > li > a:focus{
				background-color: transparent;
			}
		}
	}

	.navbar-toggle {
		margin: -3px 25px 0 0 !important;
		border: 1px solid $bg_wht;
		background: $bg_wht;
		padding: 7px;

		span {
			border: 1px solid $brdr_cyan;
		}

		&.collapsed {
			border-color: $bg_gry;
			background: transparent;

			span {
				border-color: $bg_gry;
			}
		}
	}

	.pageHeading {
		font-size: 1.1em;
		color: $txt_wht;
		padding: 0 0 0 20px;
	}

	.collapse {
		ul {
			width: 100%;
		}
	}

	.brand-image {
		@include positioning(absolute);
		width: 100px;
		left: 45%;
		top: 0;

		.brand-image-curb {
			display: inline-block;
			@include radius(7px);
			background: $bg_wht;
			padding: 2px 5px;

			&.brwn {
				background-color: $bgcolor_brwn;
			}
		}

		img {
			width: 100%;
		}
	}

	.iconSetHeader {
		margin: 0 0 0 50px;
		text-align: right;
		font-size: .82em;
		color: $txt_wht;

		a, span {
			display: inline-block;
			vertical-align: middle;

			&:focus {
				background-color: transparent;
			}
		}

		a {
			padding: 0;

			span {
				&.hdrIcns {
					background: $cmn_sprite no-repeat top left;
					@include size(25px, 25px);
					border: 1px solid $bg_wht;
					@include radius(5px);
					margin: 0 0 0 5px;

					&.ddicn {
						background-position: -715px -13px;

						&:hover {
							background-position: -761px -13px !important;
						}
					}

					&.lgouticn {
						background-position: -962px -132px;	

						&:hover {
							background-position: -895px -132px !important;
						}
					}

					&:hover {
						background-color: $bg_wht;
					}
				}
			}

			&:hover {
				background: transparent;
			}
		}

		&.open {
			&> a {
				background-color: transparent !important;
				border-color: transparent !important;

				span {
					background-color: $bg_wht;
					background-position: -761px -13px !important;
				}
			}

			.dropdown-menu {
				@include radius(5px);
				font: 1em $calibri;
				padding: 5px 0;

				a {
					color: $txt_medgry;
					padding: 5px 10px;
					display: block;

					&:hover {
						background-color: $brdr_lgrey;
						color: $txt_cyan_clr;

						span {
							&.logout {
								background-position: -966px -14px;
							}
						}
					}

					span {
						background: $cmn_sprite no-repeat top left;
						@include size(20px, 20px);
						float: right;

						&.logout {
							background-position: -905px -14px;
						}
					}
				}
			}
		}

		.dropdown-divider {
			margin: 3px 0 4px;
			background: #ddd;
			display: block;
			height: 1px;
		}
	}
}

.breadcrumb {
	background: transparent;
	font: .85em $calibri;
	padding: 0 25px 10px;
	color: $txt_medgry;	
	margin: 0;

	a {
		color: $txt_cyan_clr;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

@media (min-width: 992px) {
	header {
		.dropdown-submenu {
			@include positioning(relative);

			&.pull-left {
				float: none;

				&>.dropdown-menu {
					@include radius(6px 0 6px 6px);
					margin-left: 10px;
					left: -100%;
				}
			}

			&>.dropdown-menu {
				@include radius(0 6px 6px 6px);
				margin: -6px 0 0 -1px;
				left: 100%;
				top: 0;
			}

			&> a {
				&:after {
					border-width: 5px 0 5px 5px;
					border-color: transparent;
					border-left-color: $bg_gry;
					@include size(0px, 0px);
					margin: 5px -10px 0 0;
					border-style: solid;
					display: block;
					content: " ";
					float: right;
				}
			}

			&:hover {
				&> .dropdown-menu {
					display: block;
				}

				&> a {
					&:after {
						border-left-color: $brdr_cyan;
					}
				}
			}

			&.right-menu {
				&>.dropdown-menu {
					@include radius(6px 0px 6px 6px);
					right: 100%;
					left: auto;					
				}

				&> a {					

					&:after {
						border-width: 4px 4px 4px 0;
						border-color: transparent;
						border-right-color: $bg_gry;
						@include size(0px, 0px);
						margin: 4px 6px 0 0;
						border-style: solid;
						display: block;
						content: " ";
						float: left;
					}
				}

				&:hover {
					&> a {
						background-color: $brdr_lgrey;
						color: $txt_cyan_clr;

						&:after {
							border-right-color: $brdr_cyan;
						}
					}
				}
			}
		}
	}
}


