/*!
 * angular-aside - v1.1.2
 * https://github.com/dbtek/angular-aside
 * 2014-12-24
 * Copyright (c) 2014 İsmail Demirbilek
 * License: MIT
 */

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInTop {
  -webkit-animation-name: fadeInTop;
  animation-name: fadeInTop;
}

@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInBottom {
  -webkit-animation-name: fadeInBottom;
  animation-name: fadeInBottom;
}

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
          animation-name: fadeOutRight;
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
          animation-name: fadeOutDown;
}

/* Common */
.ng-aside {
  overflow-y: auto;
  overflow-x: hidden;

  &.fade {
    .modal-dialog {
      -o-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -webkit-transition: none;
      transition: none;
      /*CSS transforms*/
      -o-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -webkit-transform: none;
      transform: none;
    }
  }

  .modal-dialog {
    background-color: $bg_wht;
    @include radius(0 10px 10px 0);
    @include positioning(absolute);
    box-shadow: 2px 2px 2px $bg_gry;
    margin: 0;
    padding: 0;
    width: 75px;

    .modal-content {
      @include radius(0);
      overflow-y: auto;
      overflow-x: hidden;
      border: none;
      padding: 0;
      box-shadow:none;

     .modal-body {
        @include positioning(relative);
        max-height: none;
        padding: 0;

        ul {
          padding: 0;
          border: 0 none;
          display: block;
          width: 75px;

            li:last-child {
                a {
                    border-bottom: 0 none;
                }
            }

            a {
                padding: .3em 0 .1em;
                border-bottom: 1px solid $brdr_line;

                .btn {
                    padding: 0;
                    margin: 0;
                }

                b { 
                    display: block;
                    font-size: .9em;
                    font-weight: normal;
                    color: $txt_medgry;
                }

                &:hover {
                    background: transparent;
                }
            }
        }
      }
    }
  }
  
  /** horizontalEffect **/
  &.horizontal {
    height: 100%;  

    .modal-dialog {
      @include positioning(absolute);
      top: 10%;

      .modal-content {
        text-align: center;
        width:133px;
        background: none;
      }
    }

    &.left {
      .modal-dialog {
        @include positioning(static);
        left: 0;
        top: 10%;
      }

      &.in {
        .modal-dialog {
          animation: fadeInLeft 400ms;
          -webkit-animation: fadeInLeft 400ms;
          -moz-animation: fadeInLeft 400ms;
          -o-animation: fadeInLeft 400ms;
          -ms-animation: fadeInLeft 400ms;
        }
      }
    }

    &.right {
      .modal-dialog {
        right: 0;
        animation: fadeOutRight 400ms;
        -webkit-animation: fadeOutRight 400ms;
        -moz-animation: fadeOutRight 400ms;
        -o-animation: fadeOutRight 400ms;
        -ms-animation: fadeOutRight 400ms;
      }

      &.in {
        .modal-dialog {
          animation: fadeInRight 250ms;
          -webkit-animation: fadeInRight 250ms;
        }
      }
    }   
  }
  
  /** verticalEffect **/
  &.vertical {
    width: 100% !important;
    overflow: hidden;

      .modal-dialog {
        left: 0;
        right: 0;
        width: 100% !important;

        .modal-content {
          max-height: 400px;
        }
      }

    &.top {
      .modal-dialog {
        animation: fadeOutUp 250ms;
        -webkit-animation: fadeOutUp 250ms;
        -webkit-animation: fadeOutUp 250ms;
        -moz-animation: fadeOutUp 250ms;
        -o-animation: fadeOutUp 250ms;
        -ms-animation: fadeOutUp 250ms;
        top: 0;

        .modal-content {
          width: 100%;
        }
      }

      &.in {
        .modal-dialog {
          animation: fadeInTop 250ms;
          -webkit-animation: fadeInTop 250ms;
          -webkit-animation: fadeInTop 250ms;
          -moz-animation: fadeInTop 250ms;
          -o-animation: fadeInTop 250ms;
          -ms-animation: fadeInTop 250ms;
        }
      }
    }

    &.bottom {
      .modal-dialog {
        animation: fadeOutDown 250ms;
        -webkit-animation: fadeOutDown 250ms;
        -webkit-animation: fadeOutDown 250ms;
        -moz-animation: fadeOutDown 250ms;
        -o-animation: fadeOutDown 250ms;
        -ms-animation: fadeOutDown 250ms;
        bottom: 0;
      }

      &.in {
        .modal-dialog {
          animation: fadeInBottom 250ms;
          -webkit-animation: fadeInBottom 250ms;
          -webkit-animation: fadeInBottom 250ms;
          -moz-animation: fadeInBottom 250ms;
          -o-animation: fadeInBottom 250ms;
          -ms-animation: fadeInBottom 250ms;
        }
      }
    }
  }
}
 
.modal-open {
  .ng-aside {
    display: flex !important;
    align-items: flex-start;

    &.horizontal {
      &.left {
        .modal-dialog {
          animation: fadeOutLeft 250ms;
          -webkit-animation: fadeOutLeft 250ms;
          -moz-animation: fadeOutLeft 250ms;
          -o-animation: fadeOutLeft 250ms;
          -ms-animation: fadeOutLeft 250ms;
        }
      }
    }
  }
}

@media (min-height: 530px) {
  .modal-open {
    .ng-aside {
      align-items: center;
    }
  }
}

/** leftNav **/ 
.sidemenu {
  li {
    a {
      &:active {
        background: transparent;        
      }

      .btn {
        &:active {
          box-shadow: none;
        }
      }
    }
  }
}

.modal-backdrop{
  /* @include positioning(inherit); */
}

.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important; /* IE 9 */
  -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
}