/*
	*Login page ui
*/
.loginBox {
	h2 {
		font: 600 1.2em $avantgradeB;
		color: $txt_cyan_clr;
		margin: 0 0 10px 0;
		padding: 0 0 0 17px;
	}

	.lgn_cont {
		background: rgba(255, 255, 255, .3);
		box-shadow: 0px 0px 10px #bbb;
		@include size(328px, 206px);
		border: 1px solid #acacab;
		text-transform: lowercase;
		@include radius(25px);
		padding: 25px;

		input {
			&[type="text"] {
				padding-right: 20px;
			}

			&[type="password"] {
				padding-right: 40px;
			}
		}
	}

	.lgn_access_lnk {
		border: 0 none;
		box-shadow: none;
		font-weight: 600;
		width: auto;
		float: right;
		font-size: .9em;

		&:focus {
			border-width: 0px;
			box-shadow: none;
		}
	}

	.lgn_inc1 {
		@include size(74px, 271px);
		display: inline-block;
	}

	.lgnSprt {
		background: url('../../img/login_sprt.png') no-repeat top left;
		@include size(36px, 20px);
		display: inline-block;

		&.exclaim_lgn_img {
			background-position: -13px -15px;
			@include positioning(absolute);
			@include size(74px, 271px);
			right: -25px;
			top: 7px;
		}

		&.logn_Icn {
			background-position: -143px -12px;
			@include size(30px, 30px);
		    margin: 0 0 -7px -3px;
		}

		&.usr_icn_lgn, &.psw_icn_lgn {
			@include positioning(absolute);
			bottom: 5px;
			right: 0;
		} 

		&.usr_icn_lgn {
			background-position: -134px -68px;
		}

		&.psw_icn_lgn {
			background-position: -134px -112px;
		}
	}
}

// @media (min-width: 280px) {
// 	.logInBody {
// 	    @include positioning(absolute);
// 	    transform: translate(0%, -50%);
// 		width: 100%;
// 	    top: 50%;
// 	}
// }

// @media (min-width: 768px) {
// 	.logInBody {
// 		.row {
// 			.outermost_circle{
// 				margin: 40px auto;
// 			}
// 		}

// 		.login-form {
// 			width: 74%;
// 		}
// 	}
// }

// @media (min-width: 992px) {
// 	.logInBody {
// 		.vCenterDiv {
// 			top: 50%;
// 		}

// 		.row {
// 			.outermost_circle{
// 				margin: 40px 0;
// 			}
// 		}

// 		.login-form {
// 			width: 92%;
// 			float: right;
// 		}

// 		.loginBox {
// 			margin-top: 73px;
// 		}
// 	}

// 	footer{
// 		position: fixed;
// 		bottom:0;
// 	}
// }

// @media (min-width: 1200px) {
// 	.logInBody {
// 	    @include positioning(relative);
// 	    transform: none;
// 		width: 1000px;
// 	    top: 0;
// 	}
// }

// @media only screen and (max-width : 768px) and (orientation : landscape) {
// 	.logInBody {
// 		@include positioning(inherit);
// 		transform: none;
// 		height: auto;
// 		top: 0;
// 	}

// 	footer {
// 		@include positioning(inherit);
// 		margin: 10px 0 5px;
// 	}
// }