// normal css properties
// width x height
@mixin size($width:100%, $height:100%) {
		width: $width;
		height: $height;
}


// all position
@mixin positioning($args: static) {
		position: $args;
}


// all gradient related properties
@mixin gradientOrng() {
		background: rgb(253, 173, 110);
		/* Old browsers */
		background: linear-gradient(to bottom, rgba(253, 173, 110, 1) 0%, rgba(251, 171, 108, 1) 37%, rgba(254, 170, 106, 1) 42%, rgba(249, 166, 100, 1) 61%, rgba(245, 162, 96, 1) 63%, rgba(242, 159, 93, 1) 74%, rgba(238, 158, 95, 1) 100%);
		/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


// all border related properties
// bottom border for text input fields, used in login page for username & password
@mixin input_brdr($width: 2px, $style: solid, $color: $brdr_cyan, $top: 0px, $side: 2px, $blur: 0px, $shcolor: #ebebeb) {
		border-width: $width;
		border-style: $style;
		border-color: $color;
		box-shadow: $top $side $blur $shcolor;
}

// border-radius
@mixin radius($radius: 5px) {
		border-radius: $radius;
}

// border grey
@mixin border($width: 4px, $style: solid, $color: #e1e1e1) {
		border-width: $width;
		border-style: $style;
		border-color: $color;
}

// border empty
@mixin border_ety($width: 0, $style: none, $color: transparent) {
		border-width: $width;
		border-style: $style;
		border-color: $color;
}


// all box/text shadow related properties

// box-shadow
@mixin box-shadow($horizontal: 0px, $vertical: 0, $blur: 4px, $color: #aaa) {
		box-shadow: $horizontal $vertical $blur $color;
}

// text-shadow for texts, used in PD collapsible arrow
@mixin text-shadow($horizontal: 0px, $vertical: 3px, $blur: 2px, $color: #ccc) {
		text-shadow: $horizontal $vertical $blur $color;
}

// Example usage:
// @include animation(10s, 5s, changecolour)
@mixin animation ($delay, $duration, $animation) {
	-webkit-animation-delay: $delay;
	-webkit-animation-duration: $duration;
	-webkit-animation-name: $animation;
	-webkit-animation-fill-mode: forwards;
	/* this prevents the animation from restarting! */
	-moz-animation-delay: $delay;
	-moz-animation-duration: $duration;
	-moz-animation-name: $animation;
	-moz-animation-fill-mode: forwards;
	/* this prevents the animation from restarting! */
	-o-animation-delay: $delay;
	-o-animation-duration: $duration;
	-o-animation-name: $animation;
	-o-animation-fill-mode: forwards;
	/* this prevents the animation from restarting! */
	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $animation;
	animation-fill-mode: forwards;
	/* this prevents the animation from restarting! */
}

/* @mixin keyframe ($animation_name) {
	@-webkit-keyframes $animation_name {
			@content;
	}
	@-moz-keyframes $animation_name {
			@content;
	}
	@-o-keyframes $animation_name {
			@content;
	}
	@keyframes $animation_name {
			@content;
	}
} */

// box-shadow for buttons
@mixin button-box-shadow ($bg: $bg_wht, $opacity: .6, $inset: inset 0 0 0 1px $bg_lght_brwn, $outset: 0 0 4px $bg_gry, $transform: translateZ(0), $duration: 0.3s, $prop: box-shadow, $backface: hidden){
	
	background-color: rgba($bg, $opacity);
	box-shadow: $inset, $outset;
	transform: $transform;
	transition-duration: $duration;
	transition-property: $prop;
	backface-visibility: $backface;

	-webkit-transform: $transform;
	-webkit-backface-visibility: $backface;
	-webkit-transition-duration: $duration;
	-webkit-transition-property: $prop;
	-moz-osx-font-smoothing: grayscale;
}

@mixin button-box-shadow-hover ($h-bg: $bgcolor_cyan, $h-inset: inset 0 0 0 1px $bg_wht, $h-outset: 0 0 4px $bg_gry_drk1){
	background-color: $h-bg;
	box-shadow: $h-inset, $h-outset;
}