// background color stored in variables
$base_pattern_bg_color: #f8f8fa;
$bgcolor_brwn: #4e3224;
$grey_bg: #d8d8d8;
$bgcolor_orng: #faa762;
$bgcolor_cyan: #0f7f97;
$brdr_lgrey: #e1e1e1;
$brdr_lgrey2: #e6e6e6;
$bg_wht: #fff;
$bg_red: #ff0000;
$bg_lght_brwn: #92827a;
$bg_lgrn: #79e554;
$bg_gry: #ccc;
$bg_gry_drk1: #999;
$bg_camel: #f7ce38;
$bg_grey: #f5f4f5;
$bg_lghtgrey1: #fafafa;
$bg_lghtgrey: #f2f2f2;
$bg_lghtgrey2: #f4f4f4;
$arow_clr1: #bcbbbb;
$dtpkr_brdr: #c1c1c1;
$bg_black: #000000;

// Border colors
$brdr_cyan: #0f7f97;
$brdr_black: #000;
$brdr_grey: #e3dfde;
$brdr_line: #cdcdcd;
$brdr_tble: #cac2be;
$brdr_cssbox: #fcfcfc;

// background image values stored in variables
$pattern: url('../../img/pattern.png');
$cmn_sprite: url("../../img/cmn-icn-sprite.png");


// text color stored in variables
$txt_org_clr: #fa9948;
$txt_cyan_clr: #0f7f97;
$input_txt_color: #1f414b;
$txt_wht: #fff;
$txt_red: #ff0000;
$txt_lbl: #a5b3b7;
$txt_brwn: #4e3224;
$txt_lght_brwn: #92827a;
$txt_black: #000000;
$txt_rust: #dd5600;
$txt_medgry: #444444;
$txt_tilt: #9D9F0C;


// font family in variables
$calibri: Calibri, Sans-serif, Arial;
$roboto: 'RobotoRegular';

$aachenR: 'AachenRegular';
$aachenB: 'AachenBold';
$aachenM: 'AachenMediumRegular';

$avantgradeR: 'AvantGradeRegular';
$avantgradeB: 'AvantGradeBold';
$avantgradeD: 'AvantGradeDemi';


// text indentint values in variables
$txt_indent_hide: -99999px;