/** common "a" style **/
a:active, a:hover, a:focus, a {
    outline: 0 none;
}
/** common "a" style **/

/** position:initial **/
.gapR10 {
    margin-right: 10px !important;
}

.noPos {
    textarea {
        position: inherit !important;
    }
}

.foroldtheme {
    display: none !important;
}

.no-txt-trnsfrm {
    text-transform: none;
}
.pos-inherit {
    @include positioning(inherit);
}

.nogap {
    padding: 0 !important;
}

.nohgt {
    height: auto;
}

.nowdt {
    width: auto !important;
}

.fullwdt {
    width: 100%;
}

.deleted {
    text-decoration: line-through;
}

.pos-init{
    @include positioning(initial);
}

.pos-rel{
    @include positioning(relative);
}

.brdr_drk_gry {
    border: 1px solid $brdr_tble;
}

.wth-237{
    width:237px!important;
}

.pd-in-15 {
    padding: 20px 35px 6px;
}

.pd-bt-10 {
    padding-bottom: 10px;
}

.no-pd-btm {
    padding-bottom: 0;
}

.wrd-brk {
    word-wrap: break-word;
}

.wrd-brk-all {
    word-break: break-all;
}

.no-brdr-btm {
    border-bottom: 0px none;
}

.mrgn-btm-20 {
    margin-bottom: 1em;

    &.table-responsive {
        margin-bottom: 1em !important;
    }
}

.mrgn-top-20 {
    margin-top: 20px;
}

.mrgn-left-20 {
    margin-left: 20px;
}

.nomrgnlft {
    margin-left: 0px !important;
}

.nomrgn{
    margin: 0px !important;
}

.mrgnTp13 {
    margin: 13px 0 0 0 !important;
}

.mrgnTop20 {
    margin: 20px 0 0 0 !important;
}

.mrgn-right-20 {
    margin-right: 20px;
}

.no-records-txt {
    color: $input_txt_color;
    font: 0.95em $roboto;
    text-align: center;
}

.clearleft {
    clear: left;
}

.txt_blk {
    color: $txt_black !important;
}

.txt_medgry {
    color: $txt_medgry !important;
}

.txt_orng {
    color: $txt_cyan_clr !important;
}

.fnt_avgR {
    font-family: $avantgradeR;
}

.brk_all {
    word-break: break-all;
}

.hidePagging {
    .pagingUI {
        display: none;
    }
}

.indicator_txt{
    display: inline-block;
    font: 0.85em $roboto;
    margin: 9px 0 0;
    text-align: right;
    min-width: 100px;

    &.mrgn-left-20 {
        margin-left: 20px;
    }
}

.indicator{
    @include size(28px, 28px);
    @include radius(0.6em);
    margin: -11px 0 0 7px;
    display: block;
    float: left;
}

.txtIndent {
    text-indent: $txt_indent_hide;
}

table {
    tbody {
        tr {
            &:nth-of-type(2n) {
                background-color: #f2f2f2;
            }
        }
    }

    &.noClr {
        tr {
            background: none transparent !important;
        }
    }
}

.table {
    &> tbody + tbody {
        border-top-width: 1px;
    }
}

.table-responsive {
    border: 0 none !important;
    margin-bottom: 0 !important;
    padding-bottom: 2px;
}

.arrow_box {
    @include positioning(relative);

    &:after, &:before {
        @include positioning(absolute);
        border: solid transparent;
        @include size(0px, 0px);
        pointer-events: none;
        top: 100%;
        left: 50%;
        content: " ";
    }

    &:after {
        border-bottom-color: $bg_wht;
        margin: -13px 0 0 -9px;
        border-width: 9px;
    }

    &:before {
        border-bottom-color: $bg_wht;
        margin: -13px 0 0 -9px;
        border-width: 9px;
    }
}
/** position:initial **/

/** whiteDfltBox **/
.whtBox {
    @include box-shadow($horizontal: 0px, $vertical: 0, $blur: 6px);
    @include size(100%, auto);
    display: inline-block;
    @include radius(4px);
    background: $bg_wht;
    padding: .5em .5em 0;
}

.tabularListing {
    font: normal 1em $calibri;
    padding: 0 0 2px;

    .tableHelper {
        border: 0 none;
    }

    table {
        thead {
            tr {
                background: $bgcolor_cyan;

                td, th {
                    padding: 2px 7px 0 !important;
                    vertical-align: middle;
                    font-weight: normal;
                    text-align: left;
                    color: $txt_wht;

                    &:last-child {
                        text-align: center !important;
                    }

                    &.txt-lft {
                        text-align: left !important;
                    }

                    a {
                        background: url("../../img/sort_both.png") no-repeat 4px 2px;
                        padding-left: 1.2em !important;
                        color: $txt_wht;

                        &.asc {
                            background-image: url("../../img/sort_asc.png");
                        }

                        &.desc {
                            background-image: url("../../img/sort_desc.png");
                        }

                        &:hover {
                            color: $txt_wht;                            
                        }
                    }

                    .nolbl {
                        display: inline-flex;
                        margin: 5px 2px 1px;

                        li {
                            min-width: auto;

                            input[type=checkbox]:checked ~ .stl-chkB-rdB {
                                border-color: $txt_wht;

                                &::before {
                                    color: $txt_wht;
                                    font-size: 14px;
                                    top: -1px;
                                    left: 3px;
                                }
                            }
                        }

                        label {
                            @include positioning(absolute);
                            @include size(20px, 20px);
                            font-size: 0px;
                            padding: 0;
                        }

                        .stl-chkB-rdB {
                            @include positioning(inherit);
                            @include size(20px, 20px);
                            border-color: $bg_wht;
                            margin: 0;
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    .txtareCont {
                        .notestext {
                            @include positioning(inherit);
                            margin: -2px 0 -2px -4px;
                            float: right;
                            bottom: 0;
                        }
                    }
                }

                &.deleted, .deleted {
                    text-decoration: line-through;
                }
            }
        }

        &.mtabletop {
            margin-top: 2px;
        }
    }
}

@media (min-width: 320px) {
    .btn-circular {
        &.mrgn-left-20 {
            margin-left: 9px;
        }
    }
}

@media (min-width: 768px) {
    .btn-circular {
        &.mrgn-left-20 {
            margin-left: 20px;
        }
    }
}
/** whiteDfltBox **/

/** floatingMenu **/
.floaterMenu {
    @include positioning(fixed);
    bottom: 10px;
    right: 20px;
    z-index: 9;

    .flt-mnu-icn {
        @include size(auto, auto);
        padding: 9px !important;
        background: $bg_wht;
        text-align: center;
        font-size: 17px !important;
        cursor: pointer;
        color: $txt_cyan_clr;

        &:hover, &.active {
            background: $bgcolor_cyan;
            color: $bg_wht;
        }

        &.active {
            @include button-box-shadow-hover();
        }
    }

    .floatingActions {
        @include positioning(fixed);
        bottom: 50px;
        width: 100%;
        left: 0;

        ul {
            display: block;
            margin: 0 15px;
            padding: 0;

            li {
                list-style-type: none;
                display: inline-block;
                text-align: center;
                margin: 5px 0;
                width: 99%;
            }
        }

        &.two {
            li {
                width: 49%;
            }
        }

        &.three {
            li {
                width: 32%;
            }
        }

        &.four {
            li {
                width: 24%;
            }
        }
    }
}
/** floatingMenu **/

/** btnListing **/
.btnListing {
    text-align: center;
    padding: 0;
    margin: 10px 0 0 0;
    border-top: 1px solid $brdr_line;

    li {
        display: inline-block;
        list-style-type: none;
        margin: 20px 10px 0;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .btnListing {

        li {
            margin: 10px 20px 0;
        }
    }
}

@media (min-width: 992px) {
    .btnListing {
        border-left: 1px solid $brdr_line;
        border-top: 0 none;
        @include size(100%, auto);
        padding: 0 0 0 15px;
        text-align: right;
        float: left;
        margin: 0;

        li {
            margin: 0 0 0 11px;
        }
    }
}

@media (min-width: 1200px) {
    .btnListing {

        li {
            margin: 0 0 0 20px;
        }
    }
}
/** btnListing **/

/** filters **/
.pageFilters {
    margin: 0 0 20px;

    .filterRectArea {
        @include box-shadow($horizontal: 0px, $vertical: 0, $blur: 7px);
        @include positioning(relative);
        background: rgba($bg_wht, .3);
        border: 1px solid #a3a3a3;
        font: 1em $calibri;
        @include size(auto, auto);
        @include radius(10px);
        display: block;
        padding: 5px 10px;
        margin: 0;

        .filtLabel {
            font: .9em $avantgradeR;
            color: $txt_cyan_clr;
        }

        .filtValue {
            font: .9em $avantgradeR;
            color: $txt_medgry;
            margin: 7px 0 0;

            input {
                margin: -7px 0 0 0;
                font-size: 1.1em;
                display: block;
                width: 250px;
            }
        }

        input, select {
            font: .9em $calibri;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin: 0;
                padding: 0;
                list-style-type: none;
                display: inline-block;
                vertical-align: top;
            }
        }

        .formGroupFilter {
            float: left;
            width: 80%;

            &.auto {
                width: 100%;
            }

            &> ul {
                li {
                    width: 110px;
                    margin: 2px 16px 5px;

                    &.datepickerMain {
                        @include positioning(relative);

                        ul {
                            li {
                                width: auto;
                                margin: 0;
                            }
                        }
                    }

                    &.radiocheckboxGroupFilter {
                        width: auto;
                        margin: 8px 0 0 0;

                        .cstm_rdb_ckb {
                            margin-bottom: -5px;

                            ul {
                                li {
                                    label {
                                        font-size: .9em;
                                        margin: 3px 0 0 0
                                    }
                                }
                            }
                        }

                        ul {
                            li {
                                width: auto;
                                margin: 0 10px 0 0;
                            }
                        }
                    }

                    &.dtpckr_icn {
                        .ui-datepicker-trigger {
                            right: 0;
                        }
                    }
                }

                .highlightGroupFilter {
                    border: 2px solid #e4e4e4;
                    @include radius(5px);
                    padding: 0;
                    display: inline-block;
                    clear: both;
                    margin: 0;
                }
            }
        }

        &.middleFormGroupFilter, .middleFormGroupFilter {
            .formGroupFilter {
                margin-top: 11px;

                ul {
                    .highlightGroupFilter {
                        margin: -5px 0 0 0;
                    }
                }                    
            }
        }

        .advFormGroupFilter {
            margin: 7px 0 5px;
            padding: 7px 0 0 0;
            border-top: 1px solid $bg_gry;

            .dvM {
                display: inline-block;
            }

            span {
                font: .85em $avantgradeR;
                text-decoration: underline;
                display: block;
                margin: 0 0 6px 10px;
            }

            .formGroupFilter {
                width: 100%;

                ul {
                    li {
                        width: 114px;
                        margin: 2px 10px 5px;

                        &.checkboxradionParel{
                            width: auto;
                            margin: 0 15px 0 0;
                            vertical-align: bottom;

                            .cstm_rdb_ckb {
                                ul {
                                    li {
                                        width: auto;
                                        margin: 0;

                                        label {
                                            font-size: .9em;
                                            margin: 3px 0 0px 0;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }

        .btnGroupFilter {
            border-left: 1px solid $bg_gry;
            padding: 0 0 0 10px;
            text-align: center;
            min-width: 14%;
            max-width: 20%;
            float: right;

            ul {
                li {
                    margin: 3px 8px 5px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .filterList {
        li {
            margin: 0 10px 0 0;
            width: 155px;
        }

        &.advanceSearchFldsBox {
            li {
                width: 130px;
                margin: 0 15px 0;
            }
        }
    }

    .emailWrap{
        word-wrap: break-word;
        word-break: break-all;
    }
}

@media (min-width: 992px) {
    .filters {
        .noPD {
            padding: 0;
        }

        li {
            width: auto;
        }
    }

    .filterList {
        margin: 0;
        display: inline-block;

        li {
            margin: 0 12px 8px 0;
            padding: 0;
            width: 124px;
        }
    }

    .compFilterList{
        margin: 0 0px;
        
        li {}
    }
}

@media (min-width: 1200px) {
    .filterList {
        li {
            width: 175px;
            float: left;
        }
    }
}
/** filters **/

/** smallText **/
.small_txt {
    font: normal 13px $calibri;
    display: inline-block;
    color: $txt_brwn;
    bottom: -8px;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
}

.small_txt_listing {
    color: #4e3224;
    display: inline-block;
    font: 11px Calibri,sans-serif,Arial;
    text-align: right;
    width: 100%;
}

@media (min-width: 768px) {
    .small_txt {
    }
}

@media (min-width: 992px) {
    .small_txt {
        @include positioning(absolute);

    }
    .compTxtBtm
    {
    padding:5px;
    }
}
/** smallText **/

/** two column layout style **/
/** sideNavigation **/
.sideNavigation {
    padding: 0;

    ul {
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            list-style-type: none;
            display: inline-block;
            text-align: center;
            margin: 0 0 1em;
            min-width: 48%;
            line-height: 1;
            padding: 0;

        }

        &.affix {
            @include positioning(inherit);
        }
    }

    &.btnFix {
        @include positioning(fixed !important);
        right: 80px !important;
        top: 0 !important;

    }
}

@media (min-width: 768px) {
    .sideNavigation {
        width: 62px;

        ul {
            width: 62px;

            li {
                min-width: 62px;
                margin: 0 0 1em;
            }
        }

        &.btnFix {
            width: 62px;
            right: 9px !important;
        }
    }
}

@media (min-width: 992px) {
    .sideNavigation {
        width: 80px;

        ul {
            width: 80px;

            li {
                min-width: 80px;
            }
        }

        &.btnFix {
            width: 80px;
            right: 90px !important;
        }
    }
}

@media (min-width: 1200px) {
    .sideNavigation {
        width: 97px;

        ul {
            width: 97px;

            li {
                min-width: 97px;
            }
        }

        &.btnFix {
            width: 97px;
            right: 90px !important;
        }
    }
}
/** sideNavigation **/

/** circleIconsSet **/
.cmnicons{
  background: $bg_wht $cmn_sprite no-repeat top left;
  @include button-box-shadow($opacity: 1);

  @include size(46px, 46px);
  @include radius(24px);
  cursor: pointer;
  display: flex;
  margin: auto;

    &.sv {
      background-position: -263px -124px;
    }

    &.rst {
      background-position: -400px -124px;
    }

    &.cncl {
      background-position: -161px 0px;
    }

    &.csv {
      background-position: -936px -189px;
    }

    &.srch {
      background-position: -455px -1px;
    }

    &.adv {
      background-position: -531px -124px;
    }

    &.cncl-mdl {
      background-position: -162px 0px;
    }

    &.sv-mdl {
      background-position: -263px -124px;
    }

    &.yes-mdl {
      background-position: -308px 1px;
    }

    &.glyphicon, &.fa {
        background-position: 100px 100px;
        padding: 8px 0 0 0;
        color: $txt_cyan_clr;
        text-align: center;
        font-size: 2.4em;
    }

    &.advAct {
        @include button-box-shadow-hover();
        background-position: -608px -124px;
    }

    /** mouseover icons change **/
    &:hover{
      @include button-box-shadow-hover();

        &.sv {
          background-position: -330px -124px;
        }

        &.rst {
          background-position: -455px -124px;
        }

        &.cncl {
          background-position: -217px 0px;
        }

        &.csv {
          background-position: -936px -245px;
        }

        &.srch {
          background-position: -535px -1px;
        }

        &.adv {
          background-position: -608px -124px;
        }

        &.cncl-mdl {
          background-position: -218px 0px;
        }

        &.sv-mdl {
          background-position: -330px -124px;
        }

        &.yes-mdl {
          background-position: -361px 1px;
        }
        
        &.glyphicon, &.fa {
            background-position: 100px 100px;
            color: $txt_wht;
        }

        &.advAct {
            @include button-box-shadow-hover();
            background-position: -608px -124px;
        }
    }
}
/** circleIconsSet **/

/** customCombo - Select **/
custom-combo {
    @include size(100%, auto);
    display: inline-block;
    vertical-align: bottom;

    .custom-combo {
        @include positioning(relative);
        @include size(100%, auto);
        vertical-align: bottom;

        select {
            @include positioning(absolute);
            @include size(100%, auto);
            opacity: 0.0001;
            padding: 0;
            z-index: 3;
            left: 0;
            top: 0;
        }

        & > div {
            @include input_brdr($width: 0 0 2px);
            font: normal 0.9em $calibri;
            @include size(100%, 26px);
            color: $input_txt_color;
            padding: 4px 0 0 2px;
            text-align: left;
            overflow: hidden;
            margin: 0 0 6px;
            z-index: 1;
        }

        & > span {
            @include positioning(absolute);
            @include size(15px, 10px);
            background: $bg_wht;
            color: $txt_cyan_clr;
            text-align: right;
            font-size: 0.8em;
            line-height: 0;
            z-index: 1;
            right: 0;
            top: 14px;
        }
    }
}
/** customCombo - Select **/

/** tabbingUI **/
.tabbingUI {
    padding: 0 0 10px;
    min-height: 100px;

    .tabWrap {
        margin: 0 0 0 10px;

        .tabOption {
            @include radius(8px 8px 0 0);
            background: $bg_grey;
            border: 1px solid $bg_gry;
            text-transform: uppercase;
            border-bottom-width: 0px;
            padding: 4px 30px 5px;
            margin: 0 4px 0 0;
            text-align:center;
            font-weight: bold;
            cursor: pointer;
            font-size: 0.9em;
            float: left;
            z-index: 9;

            &.active, &:hover, &:focus {
                @extend .arrow_box;
                background: $bgcolor_cyan;
                border-color: $bgcolor_cyan;
                color: $txt_wht;
            }

            &:last-child {
            }
        }

        .allTeethOption {
            & ul {
                color: $txt_black;
                font-size: 1.2em;
                margin: 3px 0 0 9px;
                float: left;
                padding: 0;
            }
        }
    }

    .tabBtnContent {
        clear: both;
    }
}
/** tabbingUI **/


/** infobox **/
.viewInfo {
    b, h5 {
        color: $txt_cyan_clr;
    }

    & > div {
        margin: 0 0 10px;

        &.clearfix {
            margin: 0;
        }
    }

    .bndryBox {
        display: inline-block;
        width: 100%;

        h5 {
            font-weight: bold;
            margin-bottom: 5px;
            color: $txt_medgry;
        }
    }
}

.mdl-listing {
    margin: 25px 0 0;
}
/** infobox **/

/** ajaxLoader **/
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1051;

    .spinner {
        @include positioning(absolute);
        background-color: $bg_wht;
        @include radius(0.3em);
        margin-left: -58px;
        padding: 0.5em;
        left: 50%;
        top: 22%;
    }
}
/** ajaxLoader **/

/** modalOverlay **/
.modal[size="lg"], .modal[size="md"], .modal[size="sm"] {
    background-color: rgba(0, 0, 0, 0.4);
}
/** modalOverlay **/

/** tabbing **/
.tabContent {
    @include positioning(relative);
    font-family: $roboto;
    margin: 0;

    .nav, .nav-tabs {
        border: 0 none;
    }

    /*** main tab buttons ***/
    .nav-tabs {
        .nav-tabs {
            padding: 0 0 0 12px;

            li {
                margin: 0 10px 0 0;

                a {
                    @include radius(10px 10px 0 0);
                    box-shadow: 0 -1px 2px $bg_gry;
                    background: $bg_lghtgrey;
                    padding: 8px auto 9px;
                    text-align: center;
                    color: $txt_medgry;
                    padding: 5px 20px;
                    font-size: .85em;
                    border: 0 none;
                }
                @media(hover){
                &:hover {
                    &::after {
                        border-right: 0.40em solid transparent;
                        border-left: 0.40em solid transparent;
                        border-bottom: 0.40em solid $bg_wht;
                        @include positioning(absolute);
                        @include size(0, 0);
                        margin-left: -0.45em;
                        bottom: -1px;
                        content: "";
                        height: 0;
                        left: 50%;
                    }

                    a {
                        box-shadow: 0 -1px 2px $bg_gry_drk1;
                        background: $bgcolor_cyan;
                        color: $txt_wht;
                    }
                }
                }
                &.active {
                    &::after {
                        border-right: 0.40em solid transparent;
                        border-left: 0.40em solid transparent;
                        border-bottom: 0.40em solid $bg_wht;
                        @include positioning(absolute);
                        @include size(0, 0);
                        margin-left: -0.45em;
                        bottom: -1px;
                        content: "";
                        height: 0;
                        left: 50%;
                    }

                    a {
                        box-shadow: 0 -1px 2px $bg_gry_drk1;
                        background: $bgcolor_cyan;
                        color: $txt_wht;
                    }
                }

                &.active {
                    a {
                        /*font-weight: bold;*/
                    }
                }
            }
        }
    }
    /*** main tab buttons ***/

    /*** main tabbing area ***/
    .tab-content {
        border: 1px solid $bgcolor_cyan;
        box-shadow: 0 0 6px $bg_gry;
        padding: 15px 15px 15px;

        .tab-pane {
            position: relative;
        }
    }
    /*** main tabbing area ***/
}

.modal-body {
    .tabContent {
        font-size: 1em;
        margin: 0 0 20px;
    }
}


@media (min-width: 767px) {
    .tabContent {
        /*** main tab buttons ***/
        .nav-tabs {
            .nav-tabs {
                li {
                    a {
                        padding: 8px 44px 9px;
                        font-size: .95em;
                    }
                    @media(hover){
                        &:hover {
                        &::after {
                            border-right: 0.45em solid transparent;
                            border-left: 0.45em solid transparent;
                            border-bottom: 0.45em solid $bg_wht;
                        }
                        }
                    }
                    &.active{
                        &::after {
                            border-right: 0.45em solid transparent;
                            border-left: 0.45em solid transparent;
                            border-bottom: 0.45em solid $bg_wht;
                        }
                    }
                }
            }
        }
        /*** main tab buttons ***/
    }
}

@media (min-width: 992px) {
    .tabContent {
        /*** main tabbing area ***/
        .tab-content {
            padding: 30px 30px 15px;
        }
        /*** main tabbing area ***/
    }
}

/** tabbing **/
.modal-height-scroll {
    max-height: 400px;
    min-height: 140px;
    overflow: auto;
    width: 100%;
}

@media (min-width: 767px) {
    .floating-mdl {
        .tabContent {
            margin-top: 35px;
        }
    }
}

/** tabbing **/

.modal-height {
    margin-top: 1em;
    max-height: 400px;
    min-height: 140px;
    overflow: auto;
    width: 100%;
}



/** badges **/
.badgesContArea {
    border-bottom: 1px solid $bgcolor_cyan;
    @include positioning(relative);
    font: .8em $avantgradeR;
    display: flex;
    padding: 0 45px 0 0;
    color: $txt_medgry;
    min-height: 40px;
    margin: 0 0 30px;

    &.badgesTypeOne {
        border-top: 1px solid $brdr_lgrey;
        border-bottom: 0 none;
        margin: 25px 0 10px;
        padding: 10px 0 0;
        display: block;
    }

    &.badgeinTop {
        font-size: .92em;
        display: inline;
        border: 0 none;
        padding: 0;
        margin: 0;

        .tags {
            float: none;

            ul {

                li {
                    &.tag-item {
                        margin-right: 7px;
                        padding: 4px 6px 4px 4px;
                    }

                    .remove-button {
                         margin: 1px -3px 0 5px;
                        i {
                            padding: 3px 4px;
                        }
                    }
                }
            }
        }
    }

    &.badgeNoBrdr {
        border: 0;
        margin: 0;
        min-height: auto;
    }

    .tags {
        float: left;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0 0 5px;
                float: left;

                &.tag-item {
                    box-shadow: 0 1px 1px $bg_gry_drk1;
                    padding: 5px 10px;
                    background: $bg_lghtgrey;
                    @include radius(10px);
                    margin-right: 10px;
                    cursor: default;
                }

                a {
                    color: $txt_medgry;
                }

                &.placeHolder {
                    margin-bottom: 5px;
                    margin-top: 12px;
                }

                .remove-button {
                    margin: 1px -5px 0 5px;
                    float: right;

                    i {
                        background: $bgcolor_cyan;
                        vertical-align: middle;
                        @include radius(10px);
                        display: table-cell;
                        font-size: 0.9em;
                        padding: 4px 5px;
                        color: $txt_wht;
                        top: 0;
                    }
                }
            }
        }
    }

    /** add / edit cc buttons **/
    .chiefCompBtn {
        @include positioning(absolute);
        right: 0;
        bottom: 5px;

        button {
            &.cmnicons {
                background: $bg_wht none;
                @include size(auto, auto);
                @include radius(6px);
                border: 0 none;
                padding: 8px;

                &:hover {
                    background: $bgcolor_cyan;

                    span {
                        color: $txt_wht;
                    }
                }

                span {
                    color: $txt_cyan_clr;
                    font-size: 1.2em;
                    left: .05em;
                    right: 0;
                    top: 0;
                }
            }
        }
    }
}



    .separator{
        background-color: $brdr_lgrey;
        @include size(0.25em, 1.8em);
        @include radius(5px);
        margin: 0 0 0 0.4em;
    }




.mainBoxCont {
    margin-bottom: 20px;
    background-color: rgba(255,255,255, .4);
    border: 1px solid transparent;
    border-radius: 12px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 0px 5px #bbb;
    border-color: #a3a3a3;

    .panel-body {
        padding: 15px 0;
    }

    .form-group {
        margin-bottom: 25px;
    }

    .mdl-changable-cont {
        border-top: 1px solid #aaaaaa;
        border-bottom: 1px solid #aaaaaa;
        margin: 0px 23px 25px;
        padding: 25px 0 20px;
    }

    .addBtn {
        @include button-box-shadow($opacity: 1);
        background: rgba($bg_wht, .4);
        font: bold 2em/1em $roboto;
        @include size(34px, 34px);
        @include radius(8px);
        overflow: hidden;

        a {
            display: block;
            text-align: center;
            color: $txt_cyan_clr;
        }

        &:hover{
            @include button-box-shadow-hover();

            a {
                color: $txt_wht;
            }
        }
    }
}

.dis-inline {
    display: inline;
}

/** common for badges **/
.badges {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;

    li {
        display: inline;
        @include positioning(relative);
        background: #f2f2f2;
        padding: 7px 12px;
        border-radius: 10px;
        font-size: .85em;
        margin: 0 1em 0 0;
        box-shadow: 0px 1px 1px #bbb;
        font-weight: 600;

        .count {
            background-color: $bgcolor_cyan;
            color: $txt_wht;
            padding: 1px 5px;
            border-radius: 4px;
            margin: 0 0 0 4px;
            font-size: .9em;
            font-weight: normal;
        }

        .close {
            background-color: $bgcolor_cyan;
            @include positioning(absolute);
            @include size(20px, 20px);
            @include radius(30px);
            text-align: center;
            color: $txt_wht;
            font-size: 1em;
            padding: 1px;
            right: -10px;
            opacity: 1;
            top: -5px;
        }
    }
}
/** common for badges **/

/** common for checkbox and radio **/
.cstm_rdb_ckb {
    @include size(auto, auto);
    line-height: normal;
    padding: 0;
    margin: 0;

    ul {
        display: inline-block;
        line-height: normal;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            @include positioning(relative);
            margin: 0 15px 0 0;
            min-width: 70px;
            float: left;

            &.no-min-wdt {
                min-width: auto;
            }

            &:last-child {
                margin: 0;
            }

            input[type=radio], input[type=checkbox] {
                @include positioning(absolute);
                @include size(24px, 24px);
                color: $txt_cyan_clr;
                visibility: hidden;
                min-height: auto;
                padding: 0;
                margin: 0;
                left: 0;
                top: 0;
            }

            label {
                -webkit-transition: all 0.25s linear;
                @include positioning(relative);
                padding: 0 0 0 30px;
                color: $txt_medgry;
                font-size: .84em;
                margin: 0 0 0 0;
                cursor: pointer;
                display: block;
                z-index: 9;

                &.noMrgn {
                    margin: 0;
                }
            }

            &:hover label {
                color: $txt_cyan_clr;
            }

            .stl-chkB-rdB {
                @include positioning(absolute);
                border: 1px solid $txt_medgry;
                @include size(23px, 23px);
                @include radius(100%);
                display: block;
                z-index: 5;
                left: 0;
                top: -3px;
                transition: border .25s linear;
                -webkit-transition: border .25s linear;

                &.tpN5 {
                    top: -5px;
                }

                &.chkB {
                    @include radius(5px);
                }

                &::before {
                    @include positioning(absolute);
                    @include size(13px, 13px);
                    @include radius(100%);
                    display: block;
                    margin: auto;
                    content: '';
                    top: 4px;
                    left: 4px;
                    transition: background 0.25s linear;
                    -webkit-transition: background 0.25s linear;
                }

                &.chkB::before {
                    @include radius(5px);
                }
            }

            &:hover .stl-chkB-rdB {
                border: 1px solid $brdr_cyan;
            }

            input[type=radio]:checked ~ .stl-chkB-rdB,
            input[type=checkbox]:checked ~ .stl-chkB-rdB {
                border: 1px solid $brdr_cyan;
                color: $txt_cyan_clr;
            }

            input[type=radio]:checked ~ .stl-chkB-rdB::before {
                background: $bgcolor_cyan;
            }

            input[type=checkbox]:checked ~ .stl-chkB-rdB::before {
                color: $txt_cyan_clr;
                content: '\2713';
                font-size: 15px;
                font-weight: bold;
                top: -1px;
            }

            input[type=radio]:checked ~ label,
            input[type=checkbox]:checked ~ label {
                color: $txt_cyan_clr;
            }
        }
    }
}

.tableListingCheckbox {
    .cstm_rdb_ckb {
        @include size(20px, 20px);

        ul {
            display: inline-block !important;
            @include size(20px, 20px);

            li {
                @include size(20px, 20px);

                label {
                    @include size(20px, 20px);
                }
            }
        }
    }

    th {
        .cstm_rdb_ckb {
            ul {
                padding: 2px 0 0 0;

                li {
                    .stl-chkB-rdB {
                        border-color: $bg_wht;
                    }

                    &:hover .stl-chkB-rdB {
                        border: 1px solid $bg_wht;
                    }

                    input[type=radio]:checked ~ .stl-chkB-rdB,
                    input[type=checkbox]:checked ~ .stl-chkB-rdB {
                        border: 1px solid $bg_wht;
                        color: $txt_wht;
                    }

                    input[type=radio]:checked ~ .stl-chkB-rdB::before {
                        background: $bg_wht;
                    }

                    input[type=checkbox]:checked ~ .stl-chkB-rdB::before {
                        color: $txt_wht;
                        content: '\2713';
                        font-size: 13px;
                        font-weight: bold;
                        top: -2px;

                    }

                    input[type=radio]:checked ~ label,
                    input[type=checkbox]:checked ~ label {
                        color: $txt_wht;
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) {
    .cstm_rdb_ckb {

        ul {
            li {
                min-width: 70px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .cstm_rdb_ckb {

        &.shiftRght {
            float: right;
        }


        ul {
            li {

            }
        }
    }
}
/** common for checkbox and radio **/

/** common for form styling **/
.form-group {
    padding: 0 22px;
}

.form-style {
    label {
        font-size: .85em;
        font-weight: normal;
        color: $txt_medgry;
    }
}

input,
select,
input.form-control,
textarea,
.multiselect-native-select button.multiselect { 
    background: transparent none;
    @include size(100%, auto);
    font: 0.8em $avantgradeR;
    color: $input_txt_color;
    padding: 2px 3px;
    outline: 0 none;
    border: 0 none;
}

input:not([type="submit"]),
input:not([type="checkbox"]),
input:not([type="radio"]),
input:not([type="button"]),
input:not([type="reset"]),
input.form-control:not([type="submit"]),
input.form-control:not([type="checkbox"]),
input.form-control:not([type="radio"]),
input.form-control:not([type="button"]),
input.form-control:not([type="reset"]),
textarea,
select,
.multiselect-native-select button.multiselect {
    @include input_brdr($width: 0 0 2px);
    @include radius(0);
    min-height: 27px;
    outline: 0 none;

    &:focus {
        @include input_brdr($width: 0 0 2px);
        border-color: $brdr_cyan;
    }
}

textarea {
    @include size(100%, 26px);
}

select {
    outline: 0 none;
    font-size: .78em;

    option {
        padding: 3px 8px;

        &:hover, &:checked {
            box-shadow: 0 0 10px 100px $bgcolor_cyan inset;
        }
    }
}

.txtareCont {
    @include positioning(relative);
    min-height: 27px;
    display: block;
    padding: 0;
    border: 0;
    margin: 0;

    textarea {
        @include positioning(absolute);
        min-height: 26px;
        padding: 3px 0 0;
        width: 100%;
        left: 0;
        top: -5px;
    }

    &.textareaHeight10 {
        min-height: 205px;

        textarea {
            height: 205px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 3px 5px;
            border-radius: 3px;
        }
    }

    &.textareaHeight6 {
        min-height: 130px;

        textarea {
            height: 130px;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 3px 5px;
            border-radius: 3px;
        }
    }

    .notestext {
        @include positioning(absolute);
        font-size: 0.7em;
        bottom: -10px;
        right: 0;
    }

    &.mdl-txtarea {
        margin: 10px auto auto;
        min-height: 40px;
        width: 94%;

        textarea {
            min-height: 40px;
        }

        .notestext {
            font-size: 0.8em;
        }
    }
}

.field_disabled_readonly {
    background: white url("../../img/lock_field.png") no-repeat 0 5px;
    border-color: $arow_clr1 !important;
    padding-left: 18px;
    color: $txt_medgry;
    opacity: 1;    
}

fieldset {
    &[disabled], &[readonly] {
        .form-control {
            @extend .field_disabled_readonly;
        }
    }
}

.form-control, select {
    &[disabled], &[readonly] {
        @extend .field_disabled_readonly;
    }
}

.multiselect-native-select {
    display: block;

    .btn-group {
        display: block;
    }

    button {
        &.multiselect {
            text-align: left;
            @include positioning(relative);

            .caret {
                @include positioning(absolute);
                border-right-width: 3px;
                border-left-width: 3px;
                border-top-width: 6px;
                bottom: 8px;
                right: 3px;
            }
        }

        &:active:focus {
            background-color: transparent;
        }
    }

    .multiselect-container {
        li {
            .input-group {
                border-bottom: 1px solid $bg_gry;
                display: inline-block;
                padding: 0 10px 12px;
                margin: 7px 0 0px;
                width: 100%;

                .input-group-addon {
                    font: normal .95em/normal $calibri;
                    @include positioning(absolute);
                    background-color: transparent;
                    @include size(auto, auto);
                    @include radius(0px);
                    text-align: left;
                    color: $txt_lbl;
                    border: 0 none;
                    bottom: 17px;
                    padding: 0;
                    left: 10px;
                    margin: 0;
                }

                .multiselect-search {
                    padding-left: 20px;
                }

                .input-group-btn {
                    margin: -22px 0px 0 0px;
                    float: right;
                    width: auto;

                    .btn {
                        background: transparent;
                        color: $txt_cyan_clr;
                        border: 0;
                        padding: 0;
                        z-index: 9;
                        outline: 0;
                    }
                }
            }
        }
    }
}

.open {
    &>.dropdown-toggle.btn-default, &>.dropdown-toggle.btn-default {
        border-color: $brdr_cyan;

        &:focus, &:hover {
            border-color: $brdr_cyan;
        }
    }
}

.multiselect-container {
    width: 100%;
    top: 27px;

    li {
        padding: 0;
        display: block;
        font-size: 1.1em;

        a {
            padding: 10px;
            width: 100%;
            display: block;

            label {
                margin: 0;
                padding: 0 0 0 22px;

                input[type="checkbox"] {
                    @include size(15px, 15px);
                    margin:2px 0px 0 -23px;
                    font-weight: normal;
                    min-height: auto;
                    box-shadow: none;
                    font-size: .5em;
                }
            }
        }

        &.active {
            a, a:focus, a:hover {
                background-color: $bgcolor_cyan;

                label {
                    color: $txt_wht;
                }
            }
        }
    }
}
/** common for form styling **/

/** common label "*" integrated text **/
.astricktLbl {
    .allowAstrick {
        label {
            &::after {
                content: "*";
                color: $txt_red;
            }
        }
    }

}
/** common label "*" integrated text **/

/** pagination UI **/
.recordsPerPage {
    @include positioning(absolute);
    font-size: 0.9em;
    width: auto;

    a {
        color: $txt_medgry;

        &:hover {
            color: $txt_cyan_clr;
        }
    }

    .currentRecordPerPage {
        color: $txt_cyan_clr;
    }
}

.pagingUI {
    display: inline-block;
    font-family: $calibri;
    color: $txt_medgry;
    padding: 0 10px;
    margin: 5px 0 0;
    width: 100%;

    .showingData {
        margin: .2em 0 0 0;
        text-align: left;
        font-size: .9em;
        width: auto;
        float: left;
    }

    .pagination2Wrapper {
        display: inline-block;
        float: right;
        margin: 0;

        a {
            box-shadow: 0 0 0 1px $bg_lght_brwn inset, 0 0 4px $bg_gry;
            font: bold 1.1em $calibri; 
            @include size(23px, 23px);
            display: inline-block;
            color: $txt_cyan_clr;
            @include radius(6px);
            vertical-align: top;
            text-align: center;
            margin: 0 0 0 5px;
            border: 0 none;
            float: none;
            padding: 0;

            &:hover {
                box-shadow: 0 0 0 1px $bg_wht inset, 0 0 4px $bg_gry_drk1;
                background-color: $bgcolor_cyan;
            }

            &.previous, &.next {
                i {
                    color: $txt_medgry;
                }

                &:hover {
                    i {
                        color: $txt_wht;
                    }
                }
            }

            i {
                font-weight: bold;
                margin: 0;
            }

            &.pageNo {
                color: $txt_medgry;
                background: none;
                box-shadow: none;
            }

            &:hover {
                color: $txt_wht;
            }

            &.selected {
                color: $txt_cyan_clr;
            }
        }
    }

    /** tabular pagination **/
    &.btmPagination {
        border-top: 1px solid $brdr_lgrey;
        padding: 7px 10px 0;
        margin: 5px 0 0;
    }
    /** tabular pagination **/
}

@media (min-width: 320px) {
    .showingData {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .showingData {
        width: auto;
    }
}
/** pagination UI **/