/*
	* Contents	:	The file contains styling of Offer Access Management Application
	* Created	:	01/03/2018
	* Author	:	Sweety Gupta
*/

/*
	*for fonts
*/
@import url('../fonts.css');
@import url('../font-awesome.css');
/*
	*non visible
	*scss files
*/

@import 'variables';
@import 'mixin';

body {
	background: $base_pattern_bg_color $pattern repeat top left;
	font-family: $avantgradeR;
	font-size: 16px;
}

/*
	*Common Styles
*/
label {
	display: block;
	font-size: .9em;
	color: #5e5e5e;
}

input[type="submit"] {
	color: $txt_medgry;
}

/** start: pageHeading-all inventory listing and add scren **/
.visible-xs-cstm {
	display: none !important;
}

.container,
.container-fluid {
	@include positioning(relative);

	.jumbotron {
		@include box-shadow($horizontal: 0px, $vertical: 0, $blur: 6px);
		@include positioning(relative);
		background: rgba($bg_wht, 1);
		font: .9em $avantgradeR;
		margin: 0 0 1.3em;
		padding: 0;

		.box-center {
		    margin: auto;
		    text-align: center;
		}

		h1 {
			display: inline-block;
			color: $txt_cyan_clr;
			font-size: 1.3em;
			margin-bottom: 0.5em;
			font-weight: 600;
			padding: 0;
		}

		h4 {
		    text-align: center;
		    font-size: 0.9em;
			display: block;
		    margin: 0 0 .5em;

			&.patiendId {
				margin: 1.8em 0 0;
			}
		}
	}
}

.btn-circular {
	> i {
		margin-top: 0 !important;
	}
}

@media (min-width: 280px) {
	.container,
	.container-fluid {
		.jumbotron {
			h1 {
				margin: .5em 0;
			}

			.btmTitle {
				width: 100%;
			}

			.mdl-hdr-text {
				display: inline-block;
				font-weight: bold;
				font-size: 0.93em;

				span {
					display: block;
				}

				h4 {
					span {
						display: inline;
						margin: 0;
					}
				}
			}
		}
	}
}

@media (min-width: 480px) {
	.mdl-hdr-text {
		span {
			display: inline;

			&:last-child {
				margin-left: 1.5em;
			}
		}
	}
}

@media (min-width: 520px) {
	.container,
	.container-fluid {
		.jumbotron {
			.btmTitle {
				width: auto;
			}

			.mdl-hdr-text {
				margin: .6em 0 0 ;

				.shift-left {
					float: left;
				}

				.shift-right {
					float: right;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.container,
	.container-fluid {
		.jumbotron {
			.mdl-hdr-text {
				text-align: left;
				width: 100%;
				margin: 0;

				.shift-left {
					float: left;
					margin-right: 1.5em;
				}

				.shift-right {
					float: left;
					margin-left: 0;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.container,
	.container-fluid {
		.jumbotron {
			.btmTitle {
				margin: 2.3em 0 .2em;
			}

			.mdl-hdr-text {
				width: auto;
				text-align: center;
				margin: 3.4em 0 0 2em;

				&.hdrTypeOne {
					clear: both;
					float: left;
					margin: 0;
					width: 100%;

					& > div {
						display: inline-block;
					}

					& > #totalAmountMessage {
						float:left;

						& > h4 {
							display: inline-block;
							margin-right: .5em;
						}
					}
				}

				.shift-left {
					float: left;
					margin-right: 0;
				}

				.shift-right {
					float: right;
					margin-left: 1.5em;
				}
			}

			&.hdngTwo {
				.btmTitle {
					margin: 1.3em 0 .2em;
				}

				.mdl-hdr-text {
					margin: 2em 0 0 0;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.container,
	.container-fluid {
		.vCenterDiv {
			@include positioning(absolute);
			transform: translate(0%,-50%);
			margin-left: -50%;
			margin-top: 0;
			width: 100%;
			left: 50%;
			top: 50%;
		}
	}

	.bodyMinusHeader {
		height: calc(100vh - 79px);
		overflow: hidden;
	}
}

@media only screen and (max-width : 992px) and (orientation : landscape) {
	.vCenterDiv {
		@include positioning(inherit);
		transform: none;
		margin: 0;
	}
}
/** end: pageHeading-all inventory listing and add scren **/

/** start: Save message **/
.saveMessage {
	text-align: center;
	/* added to put all alert contents in center */
	position: fixed;
	z-index: 8031;
	width: 50%;
	left: 50%;
	margin-left: -25%;
	box-shadow: 0 1px 18px rgba(0, 0, 0, .45);
	top: 20%;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	padding: 15px;
	@include radius($radius: 4px);
	@include animation(5s, 2s, fadeout);

	.closeMsgBtn {
		float: right;
		font-size: 21px;
		font-weight: bold;
		line-height: 1;
		color: #468847;
		text-shadow: 0 1px 0 #ffffff;
		/*opacity: 1;*/
		filter: alpha(opacity=20);
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
	}
}
/** end: Save message **/

/** start: Alert message **/
.alertMessage {
	text-align:center; /* added to put all alert contents in center */
	position: fixed;
	z-index: 8031;
	width: 50%;
	left: 50%;
	margin-left: -25%;
	box-shadow: 0 1px 18px rgba(0, 0, 0, .45);
	top: 20%;
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	padding: 15px;
	@include radius($radius: 4px);
	@include animation(5s, 2s, fadeout);
	.closeMsgBtn {
		float: right;
		font-size: 21px;
		font-weight: bold;
		line-height: 1;
		color: #a94442;
		text-shadow: 0 1px 0 #ffffff;
		/*opacity: 1;*/
		filter: alpha(opacity=20);
		padding: 0;
		cursor: pointer;
		background: transparent;
		border: 0;
		-webkit-appearance: none;
	}
}

/** FADE IN/OUT ALERT **/
.alert-type2 {
	position: fixed;
	z-index: 1050;
	width: 53.1%;
	left: 50%;
	margin-left: -26.5%;
	box-shadow: 0 1px 18px rgba(0, 0, 0, .45);
	top: 20%;
	text-align: center;
	padding: 15px;
	margin-bottom: 20px;
	border: 2px solid #C00000;
	border-radius: 4px;
	color: rgb(179, 145, 145);
	font-size: 1.5em;
	text-shadow: 1px 1px 0px #C00000;
	animation: fadeout 2s forwards;
	animation-delay: 5s;
}

.alert {
	text-align: center;
	/* added to put all alert contents in center */
	position: fixed;
	z-index: 1055;
	width: 50%;
	left: 50%;
	margin-left: -25%;
	box-shadow: 0 1px 18px rgba(0, 0, 0, .45);
	top: 20%;
	animation: fadeout 2s forwards;
	animation-delay: 5s;
}

@keyframes fadeout {
	to {
		top: -1000px;
	}
}
/** end: Alert message **/

/** start: common circular icons styling **/
.btn-circular {
	background: transparent;
	border: 0 none;
	text-transform: capitalize;
	margin: 0.4em 0 0.1em;
	font: 0.8em $roboto;
	text-align: center;
	color: inherit;
	padding: 0;

	&:hover {
		color: $bgcolor_brwn;
	}

	> i {
		font-style: normal;
		line-height: 16px;
		display: block;
		margin-top: 5px;
		/*font-weight: 600;*/
	}

	&.active {
		color: $bgcolor_brwn;
	}
}

@media (min-width: 280px) {
	.buttonsHdr {
		display: inline-block;
		text-align: center;

	    .btn-circular {
			display: inline-block;
			margin: 0.4em 0 0.1em .8em;

			&:first-child {
				margin: 0.4em 0 0.1em;
			}
	    }
	}
}

@media (max-width: 420px) {
	.visible-xs-cstm {
		display: block !important;
	}
}

@media (min-width: 768px) {
    .buttonsHdr {
        text-align: right;
    }
}

/** end: common circular icons styling **/

/** commonStyle **/
.noRecordMsg, .infoMessage {
	background-color: lighten($grey_bg, 10.3%);
	margin: 0 0.5em 0.5em;
	padding: 0.4em 1.2em;
	@include radius(0.3em);
	text-align: center;
	display: none;
	color: #666;
	height: auto;
	font: normal normal .8em $avantgradeR;

	i {
		margin: 0 0.2em 0 0;
		padding: 0;
		font-style: normal;
	}

	span {
		margin: 0 5px 0 0;
	}

	&.show {
		display: block;
	}
}

.tabularListing {
	.noRecordMsg, .infoMessage {
		margin-top: 1em;
	}
}

.strikeOff {
	text-decoration: line-through;
}

.modal-dialog {
	margin-top: 60px;

	.modal-header {
		border-bottom: 1px solid $brdr_lgrey;
		font: normal 0.85em $avantgradeR;
		padding: 10px 15px;
		color: $txt_cyan_clr;
		text-align: center;
		.date {
			float: right;
			margin: 0 20px 0 0;
		}
	}

	.modal-content {
		background: $brdr_lgrey $pattern repeat top left;
		@include radius(20px);
		padding: 5px;

		.modal-inset {
		    border: 1px solid $brdr_lgrey;
		    @include radius(14px);
		    background: $bg_wht;
		    padding: 0;
		}

		.notestext, .error, .required {
			font-size: .95em;
		}

		input, textarea, select {
			font-size: 1em;
		}

		.modal-footer {
			padding: 0;
			border: 0 none;
		}
	}

	.modal-title, .modalConfirmTxt{
		float: left;
		font: 1.05em $avantgradeR;
		text-align: left;
		padding: 0;
		color: $txt_medgry;
		line-height:18px;
	}

	.table-responsive {
		@include radius(5px);
		box-shadow: 0 1px 2px #a9a9a9;
	}

	.table,	table {
		font-size: 1em;
		margin-bottom: 0;

		td, th{
			word-wrap: break-word;
		}
	}

	.case-info {
		padding: 0;
		margin: 3px 0 0;

		& > span {
		    font: normal 0.95em $roboto;

		    span {
		    	color: $txt_medgry;
		    }
		}
	}

	.modalBtns {
    	@include positioning(absolute);
		text-align: center;
    	width: 100%;
    	z-index: 4;
    	top: -30px;
    	right: 0;

    	button, a {
    		margin: 0 5px;
    		opacity: 1;
    	}

    	button {
    		&.close {
    			float: none;
    		}
    	}
	}
}

/* handling multiple modal-backdrop */
.modal-backdrop+.modal-backdrop {
  opacity : 0;
}
/* handling multiple modal-backdrop */

@media (min-width: 767px) {
	.modal-dialog {
		margin-top: 50px;

		.modalBtns {
    		text-align: left;
	    	right: -22px;
	    	top: -15px;
	    	width: 45px;
		}
	}
}

.modal {
	.modal-backdrop {
		z-index: 0;
	}
}

.dis-inline {
	display: inline;
}

.modal-body {
	max-height: calc(100vh - 210px);
	overflow-y: auto;
	font: .9em $calibri;

	.tabContent {

		&.norghtPd {
			.tab-content {
				padding-right: 0;
			}
		}

		.tab-content {
			padding: 15px;
			width: 99%;
		}
	}
}

.hdrTypeOne {
	margin: auto;
	text-align: center;
	font-weight: bold;

	.patientDetails {
		display: inline-block;
	}
}
/** commonStyle **/

/** commonForTable **/
.table,
table {
	font-size: 0.9em;
	margin-bottom: 0;

	td, th{
		word-wrap: break-word;
	}
}
.table, table {
	thead, tbody, tfoot {
		tr {
			th, td {
			    padding: 2px 7px;
			    vertical-align: bottom;

			    .cstm_rdb_ckb {
			    	display: inline;

			    	input {
			    		min-height: auto;
			    	}

			    	label {
			    		margin-bottom: 0;
			    	}
			    }
			}
		}
	}
}
/** commonForTable **/

/** loaderStyling **/
#customLoading {
	@include positioning(absolute);
	transform: translate(-50%);
	background-color: $bg_wht;
	@include radius(0.3em);
	padding: 0.5em;
	z-index: 99999;
	left: 50%;
	top: 22%;
}

.ui-widget-overlay {
	background: $bg_black !important;
	@include positioning(fixed);
	@include size(100%, 100%);
	opacity: 0.5 !important;
	z-index: 9999;
	left: 0;
	top: 0;
}
/** loaderStyling **/

/** modalStyling **/
.popUpDetailList {
	list-style: outside none none;
	padding: 0;
	li {
		float: left;
		list-style-type: none;
		margin: 0 0 1em;
		width: 50%;
		.labelPopUp {
			font-weight: 600;
		}
	}
	.fullWdth {
		width: 100%;
	}
}
/** modalStyling **/

/** START : Messages **/
.saveMessage, .message.success, .copyMessage {box-shadow: 0 1px 18px rgba(0, 0, 0, .45); @include positioning(fixed); background-color: #dff0d8; border-color: #d6e9c6; @include radius(4px); margin-left: -25%; text-align:center; color: #468847; padding: 15px; z-index: 8031; width: 50%; left: 50%; top: 20%; animation: fadeout 2s forwards; animation-delay: 5s; -moz-animation: fadeout 2s forwards; -moz-animation-delay: 5s; -webkit-animation: fadeout 2s forwards; -webkit-animation-delay: 5s; -o-animation: fadeout 2s forwards; -o-animation-delay: 5s;}
.closeMsgBtn {float: right; font-size: 21px; font-weight: bold; line-height: 1; color: #468847; text-shadow: 0 1px 0 #ffffff; filter: alpha(opacity=20); padding: 0; cursor: pointer; background: transparent; border: 0; -webkit-appearance: none;}
@keyframes fadeout {
	to {
		top: -1000px;
	}
}

@-moz-keyframes fadeout {
	to {
		top: -1000px;
	}
}

@-webkit-keyframes fadeout {
	to {
		top: -1000px;
	}
}

@-o-keyframes fadeout {
	to {
		top: -1000px;
	}
}
.message.success {display: block;}
.alertMessage {text-align:center; position: fixed; z-index: 8031; width: 50%; left: 50%; margin-left: -25%; box-shadow: 0 1px 18px rgba(0, 0, 0, .45); top: 20%; animation: fadeout 2s forwards; animation-delay: 5s; -moz-animation: fadeout 2s forwards; -moz-animation-delay: 5s; -webkit-animation: fadeout 2s forwards; -webkit-animation-delay: 5s; -o-animation: fadeout 2s forwards; -o-animation-delay: 5s; background-color: #f2dede; border-color: #ebccd1; color: #a94442; padding: 15px; @include radius(4px); .closeMsgBtn {color: #a94442;}}
.alertMessageFixed {position: fixed; z-index: 1; top: 240px; left: 50%; display: none; box-sizing: border-box; width: 50% !important; margin-bottom: 1%; margin-left: -25%; padding: .5% 1% .5% 4%; color: #000; @include radius(.3em); background: #fdda9d url("../images/alert.png") no-repeat 14px 6px; box-shadow: 0 0 .3em #aaa inset, 0 0 .9em #000;}
.discountAlertMessage {position: fixed; z-index: 8031; top: 25%; left: 50%; display: none; box-sizing: border-box; width: 50% !important; margin-bottom: 1%; margin-left: -25%; padding: .5% 1% .5% 4%; color: #000; @include radius(.3em); background: #fdda9d url("../images/alert.png") no-repeat 14px 6px; box-shadow: 0 0 .3em #aaa inset, 0 0 .9em #000;}
/** END : Message **/

/** error messages **/
.error {
	color: red;
	font-size: 0.75em;
}

table {
	td {
		.error {
			font-size: 0.85em;
		}
	}
}
/** error messages **/

/*
	*stylesheet includes
	*common prm
*/

@import 'header';
@import 'footer';
@import 'common';
@import 'login';
@import 'leftnav';
@import 'calender_ui';
@import 'actionIcons';