@charset "UTF-8";
/*
	* Contents	:	The file contains styling of Offer Access Management Application
	* Created	:	01/03/2018
	* Author	:	Sweety Gupta
*/
/*
	*for fonts
*/
@import url("../fonts.css");
@import url("../font-awesome.css");
/*
	*non visible
	*scss files
*/
/* @mixin keyframe ($animation_name) {
	@-webkit-keyframes $animation_name {
			@content;
	}
	@-moz-keyframes $animation_name {
			@content;
	}
	@-o-keyframes $animation_name {
			@content;
	}
	@keyframes $animation_name {
			@content;
	}
} */
body {
  background: #f8f8fa url("../../img/pattern.png") repeat top left;
  font-family: "AvantGradeRegular";
  font-size: 16px; }

/*
	*Common Styles
*/
label {
  display: block;
  font-size: .9em;
  color: #5e5e5e; }

input[type="submit"] {
  color: #444444; }

/** start: pageHeading-all inventory listing and add scren **/
.visible-xs-cstm {
  display: none !important; }

.container,
.container-fluid {
  position: relative; }
  .container .jumbotron,
  .container-fluid .jumbotron {
    box-shadow: 0px 0 6px #aaa;
    position: relative;
    background: white;
    font: 0.9em "AvantGradeRegular";
    margin: 0 0 1.3em;
    padding: 0; }
    .container .jumbotron .box-center,
    .container-fluid .jumbotron .box-center {
      margin: auto;
      text-align: center; }
    .container .jumbotron h1,
    .container-fluid .jumbotron h1 {
      display: inline-block;
      color: #0f7f97;
      font-size: 1.3em;
      margin-bottom: 0.5em;
      font-weight: 600;
      padding: 0; }
    .container .jumbotron h4,
    .container-fluid .jumbotron h4 {
      text-align: center;
      font-size: 0.9em;
      display: block;
      margin: 0 0 .5em; }
      .container .jumbotron h4.patiendId,
      .container-fluid .jumbotron h4.patiendId {
        margin: 1.8em 0 0; }

.btn-circular > i {
  margin-top: 0 !important; }

@media (min-width: 280px) {
  .container .jumbotron h1,
  .container-fluid .jumbotron h1 {
    margin: .5em 0; }
  .container .jumbotron .btmTitle,
  .container-fluid .jumbotron .btmTitle {
    width: 100%; }
  .container .jumbotron .mdl-hdr-text,
  .container-fluid .jumbotron .mdl-hdr-text {
    display: inline-block;
    font-weight: bold;
    font-size: 0.93em; }
    .container .jumbotron .mdl-hdr-text span,
    .container-fluid .jumbotron .mdl-hdr-text span {
      display: block; }
    .container .jumbotron .mdl-hdr-text h4 span,
    .container-fluid .jumbotron .mdl-hdr-text h4 span {
      display: inline;
      margin: 0; } }
@media (min-width: 480px) {
  .mdl-hdr-text span {
    display: inline; }
    .mdl-hdr-text span:last-child {
      margin-left: 1.5em; } }
@media (min-width: 520px) {
  .container .jumbotron .btmTitle,
  .container-fluid .jumbotron .btmTitle {
    width: auto; }
  .container .jumbotron .mdl-hdr-text,
  .container-fluid .jumbotron .mdl-hdr-text {
    margin: 0.6em 0 0; }
    .container .jumbotron .mdl-hdr-text .shift-left,
    .container-fluid .jumbotron .mdl-hdr-text .shift-left {
      float: left; }
    .container .jumbotron .mdl-hdr-text .shift-right,
    .container-fluid .jumbotron .mdl-hdr-text .shift-right {
      float: right; } }
@media (min-width: 768px) {
  .container .jumbotron .mdl-hdr-text,
  .container-fluid .jumbotron .mdl-hdr-text {
    text-align: left;
    width: 100%;
    margin: 0; }
    .container .jumbotron .mdl-hdr-text .shift-left,
    .container-fluid .jumbotron .mdl-hdr-text .shift-left {
      float: left;
      margin-right: 1.5em; }
    .container .jumbotron .mdl-hdr-text .shift-right,
    .container-fluid .jumbotron .mdl-hdr-text .shift-right {
      float: left;
      margin-left: 0; } }
@media (min-width: 992px) {
  .container .jumbotron .btmTitle,
  .container-fluid .jumbotron .btmTitle {
    margin: 2.3em 0 .2em; }
  .container .jumbotron .mdl-hdr-text,
  .container-fluid .jumbotron .mdl-hdr-text {
    width: auto;
    text-align: center;
    margin: 3.4em 0 0 2em; }
    .container .jumbotron .mdl-hdr-text.hdrTypeOne,
    .container-fluid .jumbotron .mdl-hdr-text.hdrTypeOne {
      clear: both;
      float: left;
      margin: 0;
      width: 100%; }
      .container .jumbotron .mdl-hdr-text.hdrTypeOne > div,
      .container-fluid .jumbotron .mdl-hdr-text.hdrTypeOne > div {
        display: inline-block; }
      .container .jumbotron .mdl-hdr-text.hdrTypeOne > #totalAmountMessage,
      .container-fluid .jumbotron .mdl-hdr-text.hdrTypeOne > #totalAmountMessage {
        float: left; }
        .container .jumbotron .mdl-hdr-text.hdrTypeOne > #totalAmountMessage > h4,
        .container-fluid .jumbotron .mdl-hdr-text.hdrTypeOne > #totalAmountMessage > h4 {
          display: inline-block;
          margin-right: .5em; }
    .container .jumbotron .mdl-hdr-text .shift-left,
    .container-fluid .jumbotron .mdl-hdr-text .shift-left {
      float: left;
      margin-right: 0; }
    .container .jumbotron .mdl-hdr-text .shift-right,
    .container-fluid .jumbotron .mdl-hdr-text .shift-right {
      float: right;
      margin-left: 1.5em; }
  .container .jumbotron.hdngTwo .btmTitle,
  .container-fluid .jumbotron.hdngTwo .btmTitle {
    margin: 1.3em 0 .2em; }
  .container .jumbotron.hdngTwo .mdl-hdr-text,
  .container-fluid .jumbotron.hdngTwo .mdl-hdr-text {
    margin: 2em 0 0 0; } }
@media (min-width: 992px) {
  .container .vCenterDiv,
  .container-fluid .vCenterDiv {
    position: absolute;
    transform: translate(0%, -50%);
    margin-left: -50%;
    margin-top: 0;
    width: 100%;
    left: 50%;
    top: 50%; }

  .bodyMinusHeader {
    height: calc(100vh - 79px);
    overflow: hidden; } }
@media only screen and (max-width: 992px) and (orientation: landscape) {
  .vCenterDiv {
    position: inherit;
    transform: none;
    margin: 0; } }
/** end: pageHeading-all inventory listing and add scren **/
/** start: Save message **/
.saveMessage {
  text-align: center;
  /* added to put all alert contents in center */
  position: fixed;
  z-index: 8031;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.45);
  top: 20%;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  padding: 15px;
  border-radius: 4px;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeout;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 5s;
  -moz-animation-duration: 2s;
  -moz-animation-name: fadeout;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 5s;
  -o-animation-duration: 2s;
  -o-animation-name: fadeout;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 5s;
  animation-duration: 2s;
  animation-name: fadeout;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }
  .saveMessage .closeMsgBtn {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #468847;
    text-shadow: 0 1px 0 #ffffff;
    /*opacity: 1;*/
    filter: alpha(opacity=20);
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none; }

/** end: Save message **/
/** start: Alert message **/
.alertMessage {
  text-align: center;
  /* added to put all alert contents in center */
  position: fixed;
  z-index: 8031;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.45);
  top: 20%;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 15px;
  border-radius: 4px;
  -webkit-animation-delay: 5s;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fadeout;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 5s;
  -moz-animation-duration: 2s;
  -moz-animation-name: fadeout;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 5s;
  -o-animation-duration: 2s;
  -o-animation-name: fadeout;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 5s;
  animation-duration: 2s;
  animation-name: fadeout;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }
  .alertMessage .closeMsgBtn {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #a94442;
    text-shadow: 0 1px 0 #ffffff;
    /*opacity: 1;*/
    filter: alpha(opacity=20);
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none; }

/** FADE IN/OUT ALERT **/
.alert-type2 {
  position: fixed;
  z-index: 1050;
  width: 53.1%;
  left: 50%;
  margin-left: -26.5%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.45);
  top: 20%;
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #C00000;
  border-radius: 4px;
  color: #b39191;
  font-size: 1.5em;
  text-shadow: 1px 1px 0px #C00000;
  animation: fadeout 2s forwards;
  animation-delay: 5s; }

.alert {
  text-align: center;
  /* added to put all alert contents in center */
  position: fixed;
  z-index: 1055;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.45);
  top: 20%;
  animation: fadeout 2s forwards;
  animation-delay: 5s; }

@keyframes fadeout {
  to {
    top: -1000px; } }
/** end: Alert message **/
/** start: common circular icons styling **/
.btn-circular {
  background: transparent;
  border: 0 none;
  text-transform: capitalize;
  margin: 0.4em 0 0.1em;
  font: 0.8em "RobotoRegular";
  text-align: center;
  color: inherit;
  padding: 0; }
  .btn-circular:hover {
    color: #4e3224; }
  .btn-circular > i {
    font-style: normal;
    line-height: 16px;
    display: block;
    margin-top: 5px;
    /*font-weight: 600;*/ }
  .btn-circular.active {
    color: #4e3224; }

@media (min-width: 280px) {
  .buttonsHdr {
    display: inline-block;
    text-align: center; }
    .buttonsHdr .btn-circular {
      display: inline-block;
      margin: 0.4em 0 0.1em .8em; }
      .buttonsHdr .btn-circular:first-child {
        margin: 0.4em 0 0.1em; } }
@media (max-width: 420px) {
  .visible-xs-cstm {
    display: block !important; } }
@media (min-width: 768px) {
  .buttonsHdr {
    text-align: right; } }
/** end: common circular icons styling **/
/** commonStyle **/
.noRecordMsg, .infoMessage {
  background-color: #f2f2f2;
  margin: 0 0.5em 0.5em;
  padding: 0.4em 1.2em;
  border-radius: 0.3em;
  text-align: center;
  display: none;
  color: #666;
  height: auto;
  font: normal normal 0.8em "AvantGradeRegular"; }
  .noRecordMsg i, .infoMessage i {
    margin: 0 0.2em 0 0;
    padding: 0;
    font-style: normal; }
  .noRecordMsg span, .infoMessage span {
    margin: 0 5px 0 0; }
  .noRecordMsg.show, .infoMessage.show {
    display: block; }

.tabularListing .noRecordMsg, .tabularListing .infoMessage {
  margin-top: 1em; }

.strikeOff {
  text-decoration: line-through; }

.modal-dialog {
  margin-top: 60px; }
  .modal-dialog .modal-header {
    border-bottom: 1px solid #e1e1e1;
    font: normal 0.85em "AvantGradeRegular";
    padding: 10px 15px;
    color: #0f7f97;
    text-align: center; }
    .modal-dialog .modal-header .date {
      float: right;
      margin: 0 20px 0 0; }
  .modal-dialog .modal-content {
    background: #e1e1e1 url("../../img/pattern.png") repeat top left;
    border-radius: 20px;
    padding: 5px; }
    .modal-dialog .modal-content .modal-inset {
      border: 1px solid #e1e1e1;
      border-radius: 14px;
      background: #fff;
      padding: 0; }
    .modal-dialog .modal-content .notestext, .modal-dialog .modal-content .error, .modal-dialog .modal-content .required {
      font-size: .95em; }
    .modal-dialog .modal-content input, .modal-dialog .modal-content textarea, .modal-dialog .modal-content select {
      font-size: 1em; }
    .modal-dialog .modal-content .modal-footer {
      padding: 0;
      border: 0 none; }
  .modal-dialog .modal-title, .modal-dialog .modalConfirmTxt {
    float: left;
    font: 1.05em "AvantGradeRegular";
    text-align: left;
    padding: 0;
    color: #444444;
    line-height: 18px; }
  .modal-dialog .table-responsive {
    border-radius: 5px;
    box-shadow: 0 1px 2px #a9a9a9; }
  .modal-dialog .table, .modal-dialog table {
    font-size: 1em;
    margin-bottom: 0; }
    .modal-dialog .table td, .modal-dialog .table th, .modal-dialog table td, .modal-dialog table th {
      word-wrap: break-word; }
  .modal-dialog .case-info {
    padding: 0;
    margin: 3px 0 0; }
    .modal-dialog .case-info > span {
      font: normal 0.95em "RobotoRegular"; }
      .modal-dialog .case-info > span span {
        color: #444444; }
  .modal-dialog .modalBtns {
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 4;
    top: -30px;
    right: 0; }
    .modal-dialog .modalBtns button, .modal-dialog .modalBtns a {
      margin: 0 5px;
      opacity: 1; }
    .modal-dialog .modalBtns button.close {
      float: none; }

/* handling multiple modal-backdrop */
.modal-backdrop + .modal-backdrop {
  opacity: 0; }

/* handling multiple modal-backdrop */
@media (min-width: 767px) {
  .modal-dialog {
    margin-top: 50px; }
    .modal-dialog .modalBtns {
      text-align: left;
      right: -22px;
      top: -15px;
      width: 45px; } }
.modal .modal-backdrop {
  z-index: 0; }

.dis-inline {
  display: inline; }

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  font: 0.9em Calibri, Sans-serif, Arial; }
  .modal-body .tabContent.norghtPd .tab-content {
    padding-right: 0; }
  .modal-body .tabContent .tab-content {
    padding: 15px;
    width: 99%; }

.hdrTypeOne {
  margin: auto;
  text-align: center;
  font-weight: bold; }
  .hdrTypeOne .patientDetails {
    display: inline-block; }

/** commonStyle **/
/** commonForTable **/
.table,
table {
  font-size: 0.9em;
  margin-bottom: 0; }
  .table td, .table th,
  table td,
  table th {
    word-wrap: break-word; }

.table thead tr th, .table thead tr td, .table tbody tr th, .table tbody tr td, .table tfoot tr th, .table tfoot tr td, table thead tr th, table thead tr td, table tbody tr th, table tbody tr td, table tfoot tr th, table tfoot tr td {
  padding: 2px 7px;
  vertical-align: bottom; }
  .table thead tr th .cstm_rdb_ckb, .table thead tr td .cstm_rdb_ckb, .table tbody tr th .cstm_rdb_ckb, .table tbody tr td .cstm_rdb_ckb, .table tfoot tr th .cstm_rdb_ckb, .table tfoot tr td .cstm_rdb_ckb, table thead tr th .cstm_rdb_ckb, table thead tr td .cstm_rdb_ckb, table tbody tr th .cstm_rdb_ckb, table tbody tr td .cstm_rdb_ckb, table tfoot tr th .cstm_rdb_ckb, table tfoot tr td .cstm_rdb_ckb {
    display: inline; }
    .table thead tr th .cstm_rdb_ckb input, .table thead tr td .cstm_rdb_ckb input, .table tbody tr th .cstm_rdb_ckb input, .table tbody tr td .cstm_rdb_ckb input, .table tfoot tr th .cstm_rdb_ckb input, .table tfoot tr td .cstm_rdb_ckb input, table thead tr th .cstm_rdb_ckb input, table thead tr td .cstm_rdb_ckb input, table tbody tr th .cstm_rdb_ckb input, table tbody tr td .cstm_rdb_ckb input, table tfoot tr th .cstm_rdb_ckb input, table tfoot tr td .cstm_rdb_ckb input {
      min-height: auto; }
    .table thead tr th .cstm_rdb_ckb label, .table thead tr td .cstm_rdb_ckb label, .table tbody tr th .cstm_rdb_ckb label, .table tbody tr td .cstm_rdb_ckb label, .table tfoot tr th .cstm_rdb_ckb label, .table tfoot tr td .cstm_rdb_ckb label, table thead tr th .cstm_rdb_ckb label, table thead tr td .cstm_rdb_ckb label, table tbody tr th .cstm_rdb_ckb label, table tbody tr td .cstm_rdb_ckb label, table tfoot tr th .cstm_rdb_ckb label, table tfoot tr td .cstm_rdb_ckb label {
      margin-bottom: 0; }

/** commonForTable **/
/** loaderStyling **/
#customLoading {
  position: absolute;
  transform: translate(-50%);
  background-color: #fff;
  border-radius: 0.3em;
  padding: 0.5em;
  z-index: 99999;
  left: 50%;
  top: 22%; }

.ui-widget-overlay {
  background: #000000 !important;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5 !important;
  z-index: 9999;
  left: 0;
  top: 0; }

/** loaderStyling **/
/** modalStyling **/
.popUpDetailList {
  list-style: outside none none;
  padding: 0; }
  .popUpDetailList li {
    float: left;
    list-style-type: none;
    margin: 0 0 1em;
    width: 50%; }
    .popUpDetailList li .labelPopUp {
      font-weight: 600; }
  .popUpDetailList .fullWdth {
    width: 100%; }

/** modalStyling **/
/** START : Messages **/
.saveMessage, .message.success, .copyMessage {
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.45);
  position: fixed;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  border-radius: 4px;
  margin-left: -25%;
  text-align: center;
  color: #468847;
  padding: 15px;
  z-index: 8031;
  width: 50%;
  left: 50%;
  top: 20%;
  animation: fadeout 2s forwards;
  animation-delay: 5s;
  -moz-animation: fadeout 2s forwards;
  -moz-animation-delay: 5s;
  -webkit-animation: fadeout 2s forwards;
  -webkit-animation-delay: 5s;
  -o-animation: fadeout 2s forwards;
  -o-animation-delay: 5s; }

.closeMsgBtn {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #468847;
  text-shadow: 0 1px 0 #ffffff;
  filter: alpha(opacity=20);
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

@keyframes fadeout {
  to {
    top: -1000px; } }
@-moz-keyframes fadeout {
  to {
    top: -1000px; } }
@-webkit-keyframes fadeout {
  to {
    top: -1000px; } }
@-o-keyframes fadeout {
  to {
    top: -1000px; } }
.message.success {
  display: block; }

.alertMessage {
  text-align: center;
  position: fixed;
  z-index: 8031;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.45);
  top: 20%;
  animation: fadeout 2s forwards;
  animation-delay: 5s;
  -moz-animation: fadeout 2s forwards;
  -moz-animation-delay: 5s;
  -webkit-animation: fadeout 2s forwards;
  -webkit-animation-delay: 5s;
  -o-animation: fadeout 2s forwards;
  -o-animation-delay: 5s;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 15px;
  border-radius: 4px; }
  .alertMessage .closeMsgBtn {
    color: #a94442; }

.alertMessageFixed {
  position: fixed;
  z-index: 1;
  top: 240px;
  left: 50%;
  display: none;
  box-sizing: border-box;
  width: 50% !important;
  margin-bottom: 1%;
  margin-left: -25%;
  padding: .5% 1% .5% 4%;
  color: #000;
  border-radius: 0.3em;
  background: #fdda9d url("../images/alert.png") no-repeat 14px 6px;
  box-shadow: 0 0 .3em #aaa inset, 0 0 .9em #000; }

.discountAlertMessage {
  position: fixed;
  z-index: 8031;
  top: 25%;
  left: 50%;
  display: none;
  box-sizing: border-box;
  width: 50% !important;
  margin-bottom: 1%;
  margin-left: -25%;
  padding: .5% 1% .5% 4%;
  color: #000;
  border-radius: 0.3em;
  background: #fdda9d url("../images/alert.png") no-repeat 14px 6px;
  box-shadow: 0 0 .3em #aaa inset, 0 0 .9em #000; }

/** END : Message **/
/** error messages **/
.error {
  color: red;
  font-size: 0.75em; }

table td .error {
  font-size: 0.85em; }

/** error messages **/
/*
	*stylesheet includes
	*common prm
*/
/*
	*header styles
*/
header {
  width: 100%;
  height: auto;
  margin: 0 0 12px; }
  header .pdtop15 {
    padding: 11px 0 0 0; }
  header .topBrdr {
    border-top: 4px solid #0f7f97; }
  header .hdr_mn {
    background-color: #0f7f97; }
  header .container-fluid .navbar-collapse {
    width: 100%;
    padding: 0;
    margin: 0; }
    header .container-fluid .navbar-collapse .nav {
      width: 100%;
      padding: 0;
      margin: 0; }
      header .container-fluid .navbar-collapse .nav > li {
        padding: 15px 0; }
      header .container-fluid .navbar-collapse .nav > li.usrNameCont a {
        float: right; }
    header .container-fluid .navbar-collapse .navbar-nav > li > a {
      padding: 0; }
    header .container-fluid .navbar-collapse .nav > li > a:hover, header .container-fluid .navbar-collapse .nav > li > a:focus {
      background-color: transparent; }
  header .navbar-toggle {
    margin: -3px 25px 0 0 !important;
    border: 1px solid #fff;
    background: #fff;
    padding: 7px; }
    header .navbar-toggle span {
      border: 1px solid #0f7f97; }
    header .navbar-toggle.collapsed {
      border-color: #ccc;
      background: transparent; }
      header .navbar-toggle.collapsed span {
        border-color: #ccc; }
  header .pageHeading {
    font-size: 1.1em;
    color: #fff;
    padding: 0 0 0 20px; }
  header .collapse ul {
    width: 100%; }
  header .brand-image {
    position: absolute;
    width: 100px;
    left: 45%;
    top: 0; }
    header .brand-image .brand-image-curb {
      display: inline-block;
      border-radius: 7px;
      background: #fff;
      padding: 2px 5px; }
      header .brand-image .brand-image-curb.brwn {
        background-color: #4e3224; }
    header .brand-image img {
      width: 100%; }
  header .iconSetHeader {
    margin: 0 0 0 50px;
    text-align: right;
    font-size: .82em;
    color: #fff; }
    header .iconSetHeader a, header .iconSetHeader span {
      display: inline-block;
      vertical-align: middle; }
      header .iconSetHeader a:focus, header .iconSetHeader span:focus {
        background-color: transparent; }
    header .iconSetHeader a {
      padding: 0; }
      header .iconSetHeader a span.hdrIcns {
        background: url("../../img/cmn-icn-sprite.png") no-repeat top left;
        width: 25px;
        height: 25px;
        border: 1px solid #fff;
        border-radius: 5px;
        margin: 0 0 0 5px; }
        header .iconSetHeader a span.hdrIcns.ddicn {
          background-position: -715px -13px; }
          header .iconSetHeader a span.hdrIcns.ddicn:hover {
            background-position: -761px -13px !important; }
        header .iconSetHeader a span.hdrIcns.lgouticn {
          background-position: -962px -132px; }
          header .iconSetHeader a span.hdrIcns.lgouticn:hover {
            background-position: -895px -132px !important; }
        header .iconSetHeader a span.hdrIcns:hover {
          background-color: #fff; }
      header .iconSetHeader a:hover {
        background: transparent; }
    header .iconSetHeader.open > a {
      background-color: transparent !important;
      border-color: transparent !important; }
      header .iconSetHeader.open > a span {
        background-color: #fff;
        background-position: -761px -13px !important; }
    header .iconSetHeader.open .dropdown-menu {
      border-radius: 5px;
      font: 1em Calibri, Sans-serif, Arial;
      padding: 5px 0; }
      header .iconSetHeader.open .dropdown-menu a {
        color: #444444;
        padding: 5px 10px;
        display: block; }
        header .iconSetHeader.open .dropdown-menu a:hover {
          background-color: #e1e1e1;
          color: #0f7f97; }
          header .iconSetHeader.open .dropdown-menu a:hover span.logout {
            background-position: -966px -14px; }
        header .iconSetHeader.open .dropdown-menu a span {
          background: url("../../img/cmn-icn-sprite.png") no-repeat top left;
          width: 20px;
          height: 20px;
          float: right; }
          header .iconSetHeader.open .dropdown-menu a span.logout {
            background-position: -905px -14px; }
    header .iconSetHeader .dropdown-divider {
      margin: 3px 0 4px;
      background: #ddd;
      display: block;
      height: 1px; }

.breadcrumb {
  background: transparent;
  font: 0.85em Calibri, Sans-serif, Arial;
  padding: 0 25px 10px;
  color: #444444;
  margin: 0; }
  .breadcrumb a {
    color: #0f7f97;
    text-decoration: underline; }
    .breadcrumb a:hover {
      text-decoration: none; }

@media (min-width: 992px) {
  header .dropdown-submenu {
    position: relative; }
    header .dropdown-submenu.pull-left {
      float: none; }
      header .dropdown-submenu.pull-left > .dropdown-menu {
        border-radius: 6px 0 6px 6px;
        margin-left: 10px;
        left: -100%; }
    header .dropdown-submenu > .dropdown-menu {
      border-radius: 0 6px 6px 6px;
      margin: -6px 0 0 -1px;
      left: 100%;
      top: 0; }
    header .dropdown-submenu > a:after {
      border-width: 5px 0 5px 5px;
      border-color: transparent;
      border-left-color: #ccc;
      width: 0px;
      height: 0px;
      margin: 5px -10px 0 0;
      border-style: solid;
      display: block;
      content: " ";
      float: right; }
    header .dropdown-submenu:hover > .dropdown-menu {
      display: block; }
    header .dropdown-submenu:hover > a:after {
      border-left-color: #0f7f97; }
    header .dropdown-submenu.right-menu > .dropdown-menu {
      border-radius: 6px 0px 6px 6px;
      right: 100%;
      left: auto; }
    header .dropdown-submenu.right-menu > a:after {
      border-width: 4px 4px 4px 0;
      border-color: transparent;
      border-right-color: #ccc;
      width: 0px;
      height: 0px;
      margin: 4px 6px 0 0;
      border-style: solid;
      display: block;
      content: " ";
      float: left; }
    header .dropdown-submenu.right-menu:hover > a {
      background-color: #e1e1e1;
      color: #0f7f97; }
      header .dropdown-submenu.right-menu:hover > a:after {
        border-right-color: #0f7f97; } }
/*
	*footer styles
*/
footer {
  position: fixed;
  width: 100%;
  height: auto;
  font: 600 0.85em "AvantGradeRegular";
  color: #0f7f97;
  text-align: center;
  margin: 5px 0;
  padding: 0;
  bottom: 0; }

/** common "a" style **/
a:active, a:hover, a:focus, a {
  outline: 0 none; }

/** common "a" style **/
/** position:initial **/
.gapR10 {
  margin-right: 10px !important; }

.noPos textarea {
  position: inherit !important; }

.foroldtheme {
  display: none !important; }

.no-txt-trnsfrm {
  text-transform: none; }

.pos-inherit {
  position: inherit; }

.nogap {
  padding: 0 !important; }

.nohgt {
  height: auto; }

.nowdt {
  width: auto !important; }

.fullwdt {
  width: 100%; }

.deleted {
  text-decoration: line-through; }

.pos-init {
  position: initial; }

.pos-rel {
  position: relative; }

.brdr_drk_gry {
  border: 1px solid #cac2be; }

.wth-237 {
  width: 237px !important; }

.pd-in-15 {
  padding: 20px 35px 6px; }

.pd-bt-10 {
  padding-bottom: 10px; }

.no-pd-btm {
  padding-bottom: 0; }

.wrd-brk {
  word-wrap: break-word; }

.wrd-brk-all {
  word-break: break-all; }

.no-brdr-btm {
  border-bottom: 0px none; }

.mrgn-btm-20 {
  margin-bottom: 1em; }
  .mrgn-btm-20.table-responsive {
    margin-bottom: 1em !important; }

.mrgn-top-20 {
  margin-top: 20px; }

.mrgn-left-20 {
  margin-left: 20px; }

.nomrgnlft {
  margin-left: 0px !important; }

.nomrgn {
  margin: 0px !important; }

.mrgnTp13 {
  margin: 13px 0 0 0 !important; }

.mrgnTop20 {
  margin: 20px 0 0 0 !important; }

.mrgn-right-20 {
  margin-right: 20px; }

.no-records-txt {
  color: #1f414b;
  font: 0.95em "RobotoRegular";
  text-align: center; }

.clearleft {
  clear: left; }

.txt_blk {
  color: #000000 !important; }

.txt_medgry {
  color: #444444 !important; }

.txt_orng {
  color: #0f7f97 !important; }

.fnt_avgR {
  font-family: "AvantGradeRegular"; }

.brk_all {
  word-break: break-all; }

.hidePagging .pagingUI {
  display: none; }

.indicator_txt {
  display: inline-block;
  font: 0.85em "RobotoRegular";
  margin: 9px 0 0;
  text-align: right;
  min-width: 100px; }
  .indicator_txt.mrgn-left-20 {
    margin-left: 20px; }

.indicator {
  width: 28px;
  height: 28px;
  border-radius: 0.6em;
  margin: -11px 0 0 7px;
  display: block;
  float: left; }

.txtIndent {
  text-indent: -99999px; }

table tbody tr:nth-of-type(2n) {
  background-color: #f2f2f2; }
table.noClr tr {
  background: none transparent !important; }

.table > tbody + tbody {
  border-top-width: 1px; }

.table-responsive {
  border: 0 none !important;
  margin-bottom: 0 !important;
  padding-bottom: 2px; }

.arrow_box, .tabbingUI .tabWrap .tabOption.active, .tabbingUI .tabWrap .tabOption:hover, .tabbingUI .tabWrap .tabOption:focus {
  position: relative; }
  .arrow_box:after, .tabbingUI .tabWrap .tabOption.active:after, .tabbingUI .tabWrap .tabOption:hover:after, .tabbingUI .tabWrap .tabOption:focus:after, .arrow_box:before, .tabbingUI .tabWrap .tabOption.active:before, .tabbingUI .tabWrap .tabOption:hover:before, .tabbingUI .tabWrap .tabOption:focus:before {
    position: absolute;
    border: solid transparent;
    width: 0px;
    height: 0px;
    pointer-events: none;
    top: 100%;
    left: 50%;
    content: " "; }
  .arrow_box:after, .tabbingUI .tabWrap .tabOption.active:after, .tabbingUI .tabWrap .tabOption:hover:after, .tabbingUI .tabWrap .tabOption:focus:after {
    border-bottom-color: #fff;
    margin: -13px 0 0 -9px;
    border-width: 9px; }
  .arrow_box:before, .tabbingUI .tabWrap .tabOption.active:before, .tabbingUI .tabWrap .tabOption:hover:before, .tabbingUI .tabWrap .tabOption:focus:before {
    border-bottom-color: #fff;
    margin: -13px 0 0 -9px;
    border-width: 9px; }

/** position:initial **/
/** whiteDfltBox **/
.whtBox {
  box-shadow: 0px 0 6px #aaa;
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 4px;
  background: #fff;
  padding: .5em .5em 0; }

.tabularListing {
  font: normal 1em Calibri, Sans-serif, Arial;
  padding: 0 0 2px; }
  .tabularListing .tableHelper {
    border: 0 none; }
  .tabularListing table thead tr {
    background: #0f7f97; }
    .tabularListing table thead tr td, .tabularListing table thead tr th {
      padding: 2px 7px 0 !important;
      vertical-align: middle;
      font-weight: normal;
      text-align: left;
      color: #fff; }
      .tabularListing table thead tr td:last-child, .tabularListing table thead tr th:last-child {
        text-align: center !important; }
      .tabularListing table thead tr td.txt-lft, .tabularListing table thead tr th.txt-lft {
        text-align: left !important; }
      .tabularListing table thead tr td a, .tabularListing table thead tr th a {
        background: url("../../img/sort_both.png") no-repeat 4px 2px;
        padding-left: 1.2em !important;
        color: #fff; }
        .tabularListing table thead tr td a.asc, .tabularListing table thead tr th a.asc {
          background-image: url("../../img/sort_asc.png"); }
        .tabularListing table thead tr td a.desc, .tabularListing table thead tr th a.desc {
          background-image: url("../../img/sort_desc.png"); }
        .tabularListing table thead tr td a:hover, .tabularListing table thead tr th a:hover {
          color: #fff; }
      .tabularListing table thead tr td .nolbl, .tabularListing table thead tr th .nolbl {
        display: inline-flex;
        margin: 5px 2px 1px; }
        .tabularListing table thead tr td .nolbl li, .tabularListing table thead tr th .nolbl li {
          min-width: auto; }
          .tabularListing table thead tr td .nolbl li input[type=checkbox]:checked ~ .stl-chkB-rdB, .tabularListing table thead tr th .nolbl li input[type=checkbox]:checked ~ .stl-chkB-rdB {
            border-color: #fff; }
            .tabularListing table thead tr td .nolbl li input[type=checkbox]:checked ~ .stl-chkB-rdB::before, .tabularListing table thead tr th .nolbl li input[type=checkbox]:checked ~ .stl-chkB-rdB::before {
              color: #fff;
              font-size: 14px;
              top: -1px;
              left: 3px; }
        .tabularListing table thead tr td .nolbl label, .tabularListing table thead tr th .nolbl label {
          position: absolute;
          width: 20px;
          height: 20px;
          font-size: 0px;
          padding: 0; }
        .tabularListing table thead tr td .nolbl .stl-chkB-rdB, .tabularListing table thead tr th .nolbl .stl-chkB-rdB {
          position: inherit;
          width: 20px;
          height: 20px;
          border-color: #fff;
          margin: 0; }
  .tabularListing table tbody tr td .txtareCont .notestext {
    position: inherit;
    margin: -2px 0 -2px -4px;
    float: right;
    bottom: 0; }
  .tabularListing table tbody tr.deleted, .tabularListing table tbody tr .deleted {
    text-decoration: line-through; }
  .tabularListing table.mtabletop {
    margin-top: 2px; }

@media (min-width: 320px) {
  .btn-circular.mrgn-left-20 {
    margin-left: 9px; } }
@media (min-width: 768px) {
  .btn-circular.mrgn-left-20 {
    margin-left: 20px; } }
/** whiteDfltBox **/
/** floatingMenu **/
.floaterMenu {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 9; }
  .floaterMenu .flt-mnu-icn {
    width: auto;
    height: auto;
    padding: 9px !important;
    background: #fff;
    text-align: center;
    font-size: 17px !important;
    cursor: pointer;
    color: #0f7f97; }
    .floaterMenu .flt-mnu-icn:hover, .floaterMenu .flt-mnu-icn.active {
      background: #0f7f97;
      color: #fff; }
    .floaterMenu .flt-mnu-icn.active {
      background-color: #0f7f97;
      box-shadow: inset 0 0 0 1px #fff, 0 0 4px #999; }
  .floaterMenu .floatingActions {
    position: fixed;
    bottom: 50px;
    width: 100%;
    left: 0; }
    .floaterMenu .floatingActions ul {
      display: block;
      margin: 0 15px;
      padding: 0; }
      .floaterMenu .floatingActions ul li {
        list-style-type: none;
        display: inline-block;
        text-align: center;
        margin: 5px 0;
        width: 99%; }
    .floaterMenu .floatingActions.two li {
      width: 49%; }
    .floaterMenu .floatingActions.three li {
      width: 32%; }
    .floaterMenu .floatingActions.four li {
      width: 24%; }

/** floatingMenu **/
/** btnListing **/
.btnListing {
  text-align: center;
  padding: 0;
  margin: 10px 0 0 0;
  border-top: 1px solid #cdcdcd; }
  .btnListing li {
    display: inline-block;
    list-style-type: none;
    margin: 20px 10px 0;
    text-align: center; }

@media (min-width: 768px) {
  .btnListing li {
    margin: 10px 20px 0; } }
@media (min-width: 992px) {
  .btnListing {
    border-left: 1px solid #cdcdcd;
    border-top: 0 none;
    width: 100%;
    height: auto;
    padding: 0 0 0 15px;
    text-align: right;
    float: left;
    margin: 0; }
    .btnListing li {
      margin: 0 0 0 11px; } }
@media (min-width: 1200px) {
  .btnListing li {
    margin: 0 0 0 20px; } }
/** btnListing **/
/** filters **/
.pageFilters {
  margin: 0 0 20px; }
  .pageFilters .filterRectArea {
    box-shadow: 0px 0 7px #aaa;
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #a3a3a3;
    font: 1em Calibri, Sans-serif, Arial;
    width: auto;
    height: auto;
    border-radius: 10px;
    display: block;
    padding: 5px 10px;
    margin: 0; }
    .pageFilters .filterRectArea .filtLabel {
      font: 0.9em "AvantGradeRegular";
      color: #0f7f97; }
    .pageFilters .filterRectArea .filtValue {
      font: 0.9em "AvantGradeRegular";
      color: #444444;
      margin: 7px 0 0; }
      .pageFilters .filterRectArea .filtValue input {
        margin: -7px 0 0 0;
        font-size: 1.1em;
        display: block;
        width: 250px; }
    .pageFilters .filterRectArea input, .pageFilters .filterRectArea select {
      font: 0.9em Calibri, Sans-serif, Arial; }
    .pageFilters .filterRectArea ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      .pageFilters .filterRectArea ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
        vertical-align: top; }
    .pageFilters .filterRectArea .formGroupFilter {
      float: left;
      width: 80%; }
      .pageFilters .filterRectArea .formGroupFilter.auto {
        width: 100%; }
      .pageFilters .filterRectArea .formGroupFilter > ul li {
        width: 110px;
        margin: 2px 16px 5px; }
        .pageFilters .filterRectArea .formGroupFilter > ul li.datepickerMain {
          position: relative; }
          .pageFilters .filterRectArea .formGroupFilter > ul li.datepickerMain ul li {
            width: auto;
            margin: 0; }
        .pageFilters .filterRectArea .formGroupFilter > ul li.radiocheckboxGroupFilter {
          width: auto;
          margin: 8px 0 0 0; }
          .pageFilters .filterRectArea .formGroupFilter > ul li.radiocheckboxGroupFilter .cstm_rdb_ckb {
            margin-bottom: -5px; }
            .pageFilters .filterRectArea .formGroupFilter > ul li.radiocheckboxGroupFilter .cstm_rdb_ckb ul li label {
              font-size: .9em;
              margin: 3px 0 0 0; }
          .pageFilters .filterRectArea .formGroupFilter > ul li.radiocheckboxGroupFilter ul li {
            width: auto;
            margin: 0 10px 0 0; }
        .pageFilters .filterRectArea .formGroupFilter > ul li.dtpckr_icn .ui-datepicker-trigger {
          right: 0; }
      .pageFilters .filterRectArea .formGroupFilter > ul .highlightGroupFilter {
        border: 2px solid #e4e4e4;
        border-radius: 5px;
        padding: 0;
        display: inline-block;
        clear: both;
        margin: 0; }
    .pageFilters .filterRectArea.middleFormGroupFilter .formGroupFilter, .pageFilters .filterRectArea .middleFormGroupFilter .formGroupFilter {
      margin-top: 11px; }
      .pageFilters .filterRectArea.middleFormGroupFilter .formGroupFilter ul .highlightGroupFilter, .pageFilters .filterRectArea .middleFormGroupFilter .formGroupFilter ul .highlightGroupFilter {
        margin: -5px 0 0 0; }
    .pageFilters .filterRectArea .advFormGroupFilter {
      margin: 7px 0 5px;
      padding: 7px 0 0 0;
      border-top: 1px solid #ccc; }
      .pageFilters .filterRectArea .advFormGroupFilter .dvM {
        display: inline-block; }
      .pageFilters .filterRectArea .advFormGroupFilter span {
        font: 0.85em "AvantGradeRegular";
        text-decoration: underline;
        display: block;
        margin: 0 0 6px 10px; }
      .pageFilters .filterRectArea .advFormGroupFilter .formGroupFilter {
        width: 100%; }
        .pageFilters .filterRectArea .advFormGroupFilter .formGroupFilter ul li {
          width: 114px;
          margin: 2px 10px 5px; }
          .pageFilters .filterRectArea .advFormGroupFilter .formGroupFilter ul li.checkboxradionParel {
            width: auto;
            margin: 0 15px 0 0;
            vertical-align: bottom; }
            .pageFilters .filterRectArea .advFormGroupFilter .formGroupFilter ul li.checkboxradionParel .cstm_rdb_ckb ul li {
              width: auto;
              margin: 0; }
              .pageFilters .filterRectArea .advFormGroupFilter .formGroupFilter ul li.checkboxradionParel .cstm_rdb_ckb ul li label {
                font-size: .9em;
                margin: 3px 0 0px 0; }
    .pageFilters .filterRectArea .btnGroupFilter {
      border-left: 1px solid #ccc;
      padding: 0 0 0 10px;
      text-align: center;
      min-width: 14%;
      max-width: 20%;
      float: right; }
      .pageFilters .filterRectArea .btnGroupFilter ul li {
        margin: 3px 8px 5px; }

@media (min-width: 768px) {
  .filterList li {
    margin: 0 10px 0 0;
    width: 155px; }
  .filterList.advanceSearchFldsBox li {
    width: 130px;
    margin: 0 15px 0; }

  .emailWrap {
    word-wrap: break-word;
    word-break: break-all; } }
@media (min-width: 992px) {
  .filters .noPD {
    padding: 0; }
  .filters li {
    width: auto; }

  .filterList {
    margin: 0;
    display: inline-block; }
    .filterList li {
      margin: 0 12px 8px 0;
      padding: 0;
      width: 124px; }

  .compFilterList {
    margin: 0 0px; } }
@media (min-width: 1200px) {
  .filterList li {
    width: 175px;
    float: left; } }
/** filters **/
/** smallText **/
.small_txt {
  font: normal 13px Calibri, Sans-serif, Arial;
  display: inline-block;
  color: #4e3224;
  bottom: -8px;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0; }

.small_txt_listing {
  color: #4e3224;
  display: inline-block;
  font: 11px Calibri,sans-serif,Arial;
  text-align: right;
  width: 100%; }

@media (min-width: 992px) {
  .small_txt {
    position: absolute; }

  .compTxtBtm {
    padding: 5px; } }
/** smallText **/
/** two column layout style **/
/** sideNavigation **/
.sideNavigation {
  padding: 0; }
  .sideNavigation ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    .sideNavigation ul li {
      list-style-type: none;
      display: inline-block;
      text-align: center;
      margin: 0 0 1em;
      min-width: 48%;
      line-height: 1;
      padding: 0; }
    .sideNavigation ul.affix {
      position: inherit; }
  .sideNavigation.btnFix {
    position: fixed !important;
    right: 80px !important;
    top: 0 !important; }

@media (min-width: 768px) {
  .sideNavigation {
    width: 62px; }
    .sideNavigation ul {
      width: 62px; }
      .sideNavigation ul li {
        min-width: 62px;
        margin: 0 0 1em; }
    .sideNavigation.btnFix {
      width: 62px;
      right: 9px !important; } }
@media (min-width: 992px) {
  .sideNavigation {
    width: 80px; }
    .sideNavigation ul {
      width: 80px; }
      .sideNavigation ul li {
        min-width: 80px; }
    .sideNavigation.btnFix {
      width: 80px;
      right: 90px !important; } }
@media (min-width: 1200px) {
  .sideNavigation {
    width: 97px; }
    .sideNavigation ul {
      width: 97px; }
      .sideNavigation ul li {
        min-width: 97px; }
    .sideNavigation.btnFix {
      width: 97px;
      right: 90px !important; } }
/** sideNavigation **/
/** circleIconsSet **/
.cmnicons {
  background: #fff url("../../img/cmn-icn-sprite.png") no-repeat top left;
  background-color: white;
  box-shadow: inset 0 0 0 1px #92827a, 0 0 4px #ccc;
  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  -moz-osx-font-smoothing: grayscale;
  width: 46px;
  height: 46px;
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  margin: auto;
  /** mouseover icons change **/ }
  .cmnicons.sv {
    background-position: -263px -124px; }
  .cmnicons.rst {
    background-position: -400px -124px; }
  .cmnicons.cncl {
    background-position: -161px 0px; }
  .cmnicons.csv {
    background-position: -936px -189px; }
  .cmnicons.srch {
    background-position: -455px -1px; }
  .cmnicons.adv {
    background-position: -531px -124px; }
  .cmnicons.cncl-mdl {
    background-position: -162px 0px; }
  .cmnicons.sv-mdl {
    background-position: -263px -124px; }
  .cmnicons.yes-mdl {
    background-position: -308px 1px; }
  .cmnicons.glyphicon, .cmnicons.fa {
    background-position: 100px 100px;
    padding: 8px 0 0 0;
    color: #0f7f97;
    text-align: center;
    font-size: 2.4em; }
  .cmnicons.advAct {
    background-color: #0f7f97;
    box-shadow: inset 0 0 0 1px #fff, 0 0 4px #999;
    background-position: -608px -124px; }
  .cmnicons:hover {
    background-color: #0f7f97;
    box-shadow: inset 0 0 0 1px #fff, 0 0 4px #999; }
    .cmnicons:hover.sv {
      background-position: -330px -124px; }
    .cmnicons:hover.rst {
      background-position: -455px -124px; }
    .cmnicons:hover.cncl {
      background-position: -217px 0px; }
    .cmnicons:hover.csv {
      background-position: -936px -245px; }
    .cmnicons:hover.srch {
      background-position: -535px -1px; }
    .cmnicons:hover.adv {
      background-position: -608px -124px; }
    .cmnicons:hover.cncl-mdl {
      background-position: -218px 0px; }
    .cmnicons:hover.sv-mdl {
      background-position: -330px -124px; }
    .cmnicons:hover.yes-mdl {
      background-position: -361px 1px; }
    .cmnicons:hover.glyphicon, .cmnicons:hover.fa {
      background-position: 100px 100px;
      color: #fff; }
    .cmnicons:hover.advAct {
      background-color: #0f7f97;
      box-shadow: inset 0 0 0 1px #fff, 0 0 4px #999;
      background-position: -608px -124px; }

/** circleIconsSet **/
/** customCombo - Select **/
custom-combo {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: bottom; }
  custom-combo .custom-combo {
    position: relative;
    width: 100%;
    height: auto;
    vertical-align: bottom; }
    custom-combo .custom-combo select {
      position: absolute;
      width: 100%;
      height: auto;
      opacity: 0.0001;
      padding: 0;
      z-index: 3;
      left: 0;
      top: 0; }
    custom-combo .custom-combo > div {
      border-width: 0 0 2px;
      border-style: solid;
      border-color: #0f7f97;
      box-shadow: 0px 2px 0px #ebebeb;
      font: normal 0.9em Calibri, Sans-serif, Arial;
      width: 100%;
      height: 26px;
      color: #1f414b;
      padding: 4px 0 0 2px;
      text-align: left;
      overflow: hidden;
      margin: 0 0 6px;
      z-index: 1; }
    custom-combo .custom-combo > span {
      position: absolute;
      width: 15px;
      height: 10px;
      background: #fff;
      color: #0f7f97;
      text-align: right;
      font-size: 0.8em;
      line-height: 0;
      z-index: 1;
      right: 0;
      top: 14px; }

/** customCombo - Select **/
/** tabbingUI **/
.tabbingUI {
  padding: 0 0 10px;
  min-height: 100px; }
  .tabbingUI .tabWrap {
    margin: 0 0 0 10px; }
    .tabbingUI .tabWrap .tabOption {
      border-radius: 8px 8px 0 0;
      background: #f5f4f5;
      border: 1px solid #ccc;
      text-transform: uppercase;
      border-bottom-width: 0px;
      padding: 4px 30px 5px;
      margin: 0 4px 0 0;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      font-size: 0.9em;
      float: left;
      z-index: 9; }
      .tabbingUI .tabWrap .tabOption.active, .tabbingUI .tabWrap .tabOption:hover, .tabbingUI .tabWrap .tabOption:focus {
        background: #0f7f97;
        border-color: #0f7f97;
        color: #fff; }
    .tabbingUI .tabWrap .allTeethOption ul {
      color: #000000;
      font-size: 1.2em;
      margin: 3px 0 0 9px;
      float: left;
      padding: 0; }
  .tabbingUI .tabBtnContent {
    clear: both; }

/** tabbingUI **/
/** infobox **/
.viewInfo b, .viewInfo h5 {
  color: #0f7f97; }
.viewInfo > div {
  margin: 0 0 10px; }
  .viewInfo > div.clearfix {
    margin: 0; }
.viewInfo .bndryBox {
  display: inline-block;
  width: 100%; }
  .viewInfo .bndryBox h5 {
    font-weight: bold;
    margin-bottom: 5px;
    color: #444444; }

.mdl-listing {
  margin: 25px 0 0; }

/** infobox **/
/** ajaxLoader **/
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1051; }
  .overlay .spinner {
    position: absolute;
    background-color: #fff;
    border-radius: 0.3em;
    margin-left: -58px;
    padding: 0.5em;
    left: 50%;
    top: 22%; }

/** ajaxLoader **/
/** modalOverlay **/
.modal[size="lg"], .modal[size="md"], .modal[size="sm"] {
  background-color: rgba(0, 0, 0, 0.4); }

/** modalOverlay **/
/** tabbing **/
.tabContent {
  position: relative;
  font-family: "RobotoRegular";
  margin: 0;
  /*** main tab buttons ***/
  /*** main tab buttons ***/
  /*** main tabbing area ***/
  /*** main tabbing area ***/ }
  .tabContent .nav, .tabContent .nav-tabs {
    border: 0 none; }
  .tabContent .nav-tabs .nav-tabs {
    padding: 0 0 0 12px; }
    .tabContent .nav-tabs .nav-tabs li {
      margin: 0 10px 0 0; }
      .tabContent .nav-tabs .nav-tabs li a {
        border-radius: 10px 10px 0 0;
        box-shadow: 0 -1px 2px #ccc;
        background: #f2f2f2;
        padding: 8px auto 9px;
        text-align: center;
        color: #444444;
        padding: 5px 20px;
        font-size: .85em;
        border: 0 none; }
      @media (hover) {
        .tabContent .nav-tabs .nav-tabs li:hover::after {
          border-right: 0.40em solid transparent;
          border-left: 0.40em solid transparent;
          border-bottom: 0.4em solid #fff;
          position: absolute;
          width: 0;
          height: 0;
          margin-left: -0.45em;
          bottom: -1px;
          content: "";
          height: 0;
          left: 50%; }
        .tabContent .nav-tabs .nav-tabs li:hover a {
          box-shadow: 0 -1px 2px #999;
          background: #0f7f97;
          color: #fff; } }
      .tabContent .nav-tabs .nav-tabs li.active::after {
        border-right: 0.40em solid transparent;
        border-left: 0.40em solid transparent;
        border-bottom: 0.4em solid #fff;
        position: absolute;
        width: 0;
        height: 0;
        margin-left: -0.45em;
        bottom: -1px;
        content: "";
        height: 0;
        left: 50%; }
      .tabContent .nav-tabs .nav-tabs li.active a {
        box-shadow: 0 -1px 2px #999;
        background: #0f7f97;
        color: #fff; }
      .tabContent .nav-tabs .nav-tabs li.active a {
        /*font-weight: bold;*/ }
  .tabContent .tab-content {
    border: 1px solid #0f7f97;
    box-shadow: 0 0 6px #ccc;
    padding: 15px 15px 15px; }
    .tabContent .tab-content .tab-pane {
      position: relative; }

.modal-body .tabContent {
  font-size: 1em;
  margin: 0 0 20px; }

@media (min-width: 767px) {
  .tabContent {
    /*** main tab buttons ***/
    /*** main tab buttons ***/ }
    .tabContent .nav-tabs .nav-tabs li a {
      padding: 8px 44px 9px;
      font-size: .95em; } }
  @media (min-width: 767px) and (hover) {
    .tabContent .nav-tabs .nav-tabs li:hover::after {
      border-right: 0.45em solid transparent;
      border-left: 0.45em solid transparent;
      border-bottom: 0.45em solid #fff; } }
@media (min-width: 767px) {
    .tabContent .nav-tabs .nav-tabs li.active::after {
      border-right: 0.45em solid transparent;
      border-left: 0.45em solid transparent;
      border-bottom: 0.45em solid #fff; } }
@media (min-width: 992px) {
  .tabContent {
    /*** main tabbing area ***/
    /*** main tabbing area ***/ }
    .tabContent .tab-content {
      padding: 30px 30px 15px; } }
/** tabbing **/
.modal-height-scroll {
  max-height: 400px;
  min-height: 140px;
  overflow: auto;
  width: 100%; }

@media (min-width: 767px) {
  .floating-mdl .tabContent {
    margin-top: 35px; } }
/** tabbing **/
.modal-height {
  margin-top: 1em;
  max-height: 400px;
  min-height: 140px;
  overflow: auto;
  width: 100%; }

/** badges **/
.badgesContArea {
  border-bottom: 1px solid #0f7f97;
  position: relative;
  font: 0.8em "AvantGradeRegular";
  display: flex;
  padding: 0 45px 0 0;
  color: #444444;
  min-height: 40px;
  margin: 0 0 30px;
  /** add / edit cc buttons **/ }
  .badgesContArea.badgesTypeOne {
    border-top: 1px solid #e1e1e1;
    border-bottom: 0 none;
    margin: 25px 0 10px;
    padding: 10px 0 0;
    display: block; }
  .badgesContArea.badgeinTop {
    font-size: .92em;
    display: inline;
    border: 0 none;
    padding: 0;
    margin: 0; }
    .badgesContArea.badgeinTop .tags {
      float: none; }
      .badgesContArea.badgeinTop .tags ul li.tag-item {
        margin-right: 7px;
        padding: 4px 6px 4px 4px; }
      .badgesContArea.badgeinTop .tags ul li .remove-button {
        margin: 1px -3px 0 5px; }
        .badgesContArea.badgeinTop .tags ul li .remove-button i {
          padding: 3px 4px; }
  .badgesContArea.badgeNoBrdr {
    border: 0;
    margin: 0;
    min-height: auto; }
  .badgesContArea .tags {
    float: left; }
    .badgesContArea .tags ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .badgesContArea .tags ul li {
        margin: 0 0 5px;
        float: left; }
        .badgesContArea .tags ul li.tag-item {
          box-shadow: 0 1px 1px #999;
          padding: 5px 10px;
          background: #f2f2f2;
          border-radius: 10px;
          margin-right: 10px;
          cursor: default; }
        .badgesContArea .tags ul li a {
          color: #444444; }
        .badgesContArea .tags ul li.placeHolder {
          margin-bottom: 5px;
          margin-top: 12px; }
        .badgesContArea .tags ul li .remove-button {
          margin: 1px -5px 0 5px;
          float: right; }
          .badgesContArea .tags ul li .remove-button i {
            background: #0f7f97;
            vertical-align: middle;
            border-radius: 10px;
            display: table-cell;
            font-size: 0.9em;
            padding: 4px 5px;
            color: #fff;
            top: 0; }
  .badgesContArea .chiefCompBtn {
    position: absolute;
    right: 0;
    bottom: 5px; }
    .badgesContArea .chiefCompBtn button.cmnicons {
      background: #fff none;
      width: auto;
      height: auto;
      border-radius: 6px;
      border: 0 none;
      padding: 8px; }
      .badgesContArea .chiefCompBtn button.cmnicons:hover {
        background: #0f7f97; }
        .badgesContArea .chiefCompBtn button.cmnicons:hover span {
          color: #fff; }
      .badgesContArea .chiefCompBtn button.cmnicons span {
        color: #0f7f97;
        font-size: 1.2em;
        left: .05em;
        right: 0;
        top: 0; }

.separator {
  background-color: #e1e1e1;
  width: 0.25em;
  height: 1.8em;
  border-radius: 5px;
  margin: 0 0 0 0.4em; }

.mainBoxCont {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid transparent;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 5px #bbb;
  border-color: #a3a3a3; }
  .mainBoxCont .panel-body {
    padding: 15px 0; }
  .mainBoxCont .form-group {
    margin-bottom: 25px; }
  .mainBoxCont .mdl-changable-cont {
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    margin: 0px 23px 25px;
    padding: 25px 0 20px; }
  .mainBoxCont .addBtn {
    background-color: white;
    box-shadow: inset 0 0 0 1px #92827a, 0 0 4px #ccc;
    transform: translateZ(0);
    transition-duration: 0.3s;
    transition-property: box-shadow;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(255, 255, 255, 0.4);
    font: bold 2em/1em "RobotoRegular";
    width: 34px;
    height: 34px;
    border-radius: 8px;
    overflow: hidden; }
    .mainBoxCont .addBtn a {
      display: block;
      text-align: center;
      color: #0f7f97; }
    .mainBoxCont .addBtn:hover {
      background-color: #0f7f97;
      box-shadow: inset 0 0 0 1px #fff, 0 0 4px #999; }
      .mainBoxCont .addBtn:hover a {
        color: #fff; }

.dis-inline {
  display: inline; }

/** common for badges **/
.badges {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0; }
  .badges li {
    display: inline;
    position: relative;
    background: #f2f2f2;
    padding: 7px 12px;
    border-radius: 10px;
    font-size: .85em;
    margin: 0 1em 0 0;
    box-shadow: 0px 1px 1px #bbb;
    font-weight: 600; }
    .badges li .count {
      background-color: #0f7f97;
      color: #fff;
      padding: 1px 5px;
      border-radius: 4px;
      margin: 0 0 0 4px;
      font-size: .9em;
      font-weight: normal; }
    .badges li .close {
      background-color: #0f7f97;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 30px;
      text-align: center;
      color: #fff;
      font-size: 1em;
      padding: 1px;
      right: -10px;
      opacity: 1;
      top: -5px; }

/** common for badges **/
/** common for checkbox and radio **/
.cstm_rdb_ckb {
  width: auto;
  height: auto;
  line-height: normal;
  padding: 0;
  margin: 0; }
  .cstm_rdb_ckb ul {
    display: inline-block;
    line-height: normal;
    list-style: none;
    padding: 0;
    margin: 0; }
    .cstm_rdb_ckb ul li {
      position: relative;
      margin: 0 15px 0 0;
      min-width: 70px;
      float: left; }
      .cstm_rdb_ckb ul li.no-min-wdt {
        min-width: auto; }
      .cstm_rdb_ckb ul li:last-child {
        margin: 0; }
      .cstm_rdb_ckb ul li input[type=radio], .cstm_rdb_ckb ul li input[type=checkbox] {
        position: absolute;
        width: 24px;
        height: 24px;
        color: #0f7f97;
        visibility: hidden;
        min-height: auto;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0; }
      .cstm_rdb_ckb ul li label {
        -webkit-transition: all 0.25s linear;
        position: relative;
        padding: 0 0 0 30px;
        color: #444444;
        font-size: .84em;
        margin: 0 0 0 0;
        cursor: pointer;
        display: block;
        z-index: 9; }
        .cstm_rdb_ckb ul li label.noMrgn {
          margin: 0; }
      .cstm_rdb_ckb ul li:hover label {
        color: #0f7f97; }
      .cstm_rdb_ckb ul li .stl-chkB-rdB {
        position: absolute;
        border: 1px solid #444444;
        width: 23px;
        height: 23px;
        border-radius: 100%;
        display: block;
        z-index: 5;
        left: 0;
        top: -3px;
        transition: border .25s linear;
        -webkit-transition: border .25s linear; }
        .cstm_rdb_ckb ul li .stl-chkB-rdB.tpN5 {
          top: -5px; }
        .cstm_rdb_ckb ul li .stl-chkB-rdB.chkB {
          border-radius: 5px; }
        .cstm_rdb_ckb ul li .stl-chkB-rdB::before {
          position: absolute;
          width: 13px;
          height: 13px;
          border-radius: 100%;
          display: block;
          margin: auto;
          content: '';
          top: 4px;
          left: 4px;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear; }
        .cstm_rdb_ckb ul li .stl-chkB-rdB.chkB::before {
          border-radius: 5px; }
      .cstm_rdb_ckb ul li:hover .stl-chkB-rdB {
        border: 1px solid #0f7f97; }
      .cstm_rdb_ckb ul li input[type=radio]:checked ~ .stl-chkB-rdB,
      .cstm_rdb_ckb ul li input[type=checkbox]:checked ~ .stl-chkB-rdB {
        border: 1px solid #0f7f97;
        color: #0f7f97; }
      .cstm_rdb_ckb ul li input[type=radio]:checked ~ .stl-chkB-rdB::before {
        background: #0f7f97; }
      .cstm_rdb_ckb ul li input[type=checkbox]:checked ~ .stl-chkB-rdB::before {
        color: #0f7f97;
        content: '\2713';
        font-size: 15px;
        font-weight: bold;
        top: -1px; }
      .cstm_rdb_ckb ul li input[type=radio]:checked ~ label,
      .cstm_rdb_ckb ul li input[type=checkbox]:checked ~ label {
        color: #0f7f97; }

.tableListingCheckbox .cstm_rdb_ckb {
  width: 20px;
  height: 20px; }
  .tableListingCheckbox .cstm_rdb_ckb ul {
    display: inline-block !important;
    width: 20px;
    height: 20px; }
    .tableListingCheckbox .cstm_rdb_ckb ul li {
      width: 20px;
      height: 20px; }
      .tableListingCheckbox .cstm_rdb_ckb ul li label {
        width: 20px;
        height: 20px; }
.tableListingCheckbox th .cstm_rdb_ckb ul {
  padding: 2px 0 0 0; }
  .tableListingCheckbox th .cstm_rdb_ckb ul li .stl-chkB-rdB {
    border-color: #fff; }
  .tableListingCheckbox th .cstm_rdb_ckb ul li:hover .stl-chkB-rdB {
    border: 1px solid #fff; }
  .tableListingCheckbox th .cstm_rdb_ckb ul li input[type=radio]:checked ~ .stl-chkB-rdB,
  .tableListingCheckbox th .cstm_rdb_ckb ul li input[type=checkbox]:checked ~ .stl-chkB-rdB {
    border: 1px solid #fff;
    color: #fff; }
  .tableListingCheckbox th .cstm_rdb_ckb ul li input[type=radio]:checked ~ .stl-chkB-rdB::before {
    background: #fff; }
  .tableListingCheckbox th .cstm_rdb_ckb ul li input[type=checkbox]:checked ~ .stl-chkB-rdB::before {
    color: #fff;
    content: '\2713';
    font-size: 13px;
    font-weight: bold;
    top: -2px; }
  .tableListingCheckbox th .cstm_rdb_ckb ul li input[type=radio]:checked ~ label,
  .tableListingCheckbox th .cstm_rdb_ckb ul li input[type=checkbox]:checked ~ label {
    color: #fff; }

@media (min-width: 320px) {
  .cstm_rdb_ckb ul li {
    min-width: 70px; } }
@media (min-width: 1200px) {
  .cstm_rdb_ckb.shiftRght {
    float: right; } }
/** common for checkbox and radio **/
/** common for form styling **/
.form-group {
  padding: 0 22px; }

.form-style label {
  font-size: .85em;
  font-weight: normal;
  color: #444444; }

input,
select,
input.form-control,
textarea,
.multiselect-native-select button.multiselect {
  background: transparent none;
  width: 100%;
  height: auto;
  font: 0.8em "AvantGradeRegular";
  color: #1f414b;
  padding: 2px 3px;
  outline: 0 none;
  border: 0 none; }

input:not([type="submit"]),
input:not([type="checkbox"]),
input:not([type="radio"]),
input:not([type="button"]),
input:not([type="reset"]),
input.form-control:not([type="submit"]),
input.form-control:not([type="checkbox"]),
input.form-control:not([type="radio"]),
input.form-control:not([type="button"]),
input.form-control:not([type="reset"]),
textarea,
select,
.multiselect-native-select button.multiselect {
  border-width: 0 0 2px;
  border-style: solid;
  border-color: #0f7f97;
  box-shadow: 0px 2px 0px #ebebeb;
  border-radius: 0;
  min-height: 27px;
  outline: 0 none; }
  input:not([type="submit"]):focus,
  input:not([type="checkbox"]):focus,
  input:not([type="radio"]):focus,
  input:not([type="button"]):focus,
  input:not([type="reset"]):focus,
  input.form-control:not([type="submit"]):focus,
  input.form-control:not([type="checkbox"]):focus,
  input.form-control:not([type="radio"]):focus,
  input.form-control:not([type="button"]):focus,
  input.form-control:not([type="reset"]):focus,
  textarea:focus,
  select:focus,
  .multiselect-native-select button.multiselect:focus {
    border-width: 0 0 2px;
    border-style: solid;
    border-color: #0f7f97;
    box-shadow: 0px 2px 0px #ebebeb;
    border-color: #0f7f97; }

textarea {
  width: 100%;
  height: 26px; }

select {
  outline: 0 none;
  font-size: .78em; }
  select option {
    padding: 3px 8px; }
    select option:hover, select option:checked {
      box-shadow: 0 0 10px 100px #0f7f97 inset; }

.txtareCont {
  position: relative;
  min-height: 27px;
  display: block;
  padding: 0;
  border: 0;
  margin: 0; }
  .txtareCont textarea {
    position: absolute;
    min-height: 26px;
    padding: 3px 0 0;
    width: 100%;
    left: 0;
    top: -5px; }
  .txtareCont.textareaHeight10 {
    min-height: 205px; }
    .txtareCont.textareaHeight10 textarea {
      height: 205px;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;
      padding: 3px 5px;
      border-radius: 3px; }
  .txtareCont.textareaHeight6 {
    min-height: 130px; }
    .txtareCont.textareaHeight6 textarea {
      height: 130px;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;
      padding: 3px 5px;
      border-radius: 3px; }
  .txtareCont .notestext {
    position: absolute;
    font-size: 0.7em;
    bottom: -10px;
    right: 0; }
  .txtareCont.mdl-txtarea {
    margin: 10px auto auto;
    min-height: 40px;
    width: 94%; }
    .txtareCont.mdl-txtarea textarea {
      min-height: 40px; }
    .txtareCont.mdl-txtarea .notestext {
      font-size: 0.8em; }

.field_disabled_readonly, fieldset[disabled] .form-control, fieldset[readonly] .form-control, .form-control[disabled], .form-control[readonly], select[disabled], select[readonly] {
  background: white url("../../img/lock_field.png") no-repeat 0 5px;
  border-color: #bcbbbb !important;
  padding-left: 18px;
  color: #444444;
  opacity: 1; }

.multiselect-native-select {
  display: block; }
  .multiselect-native-select .btn-group {
    display: block; }
  .multiselect-native-select button.multiselect {
    text-align: left;
    position: relative; }
    .multiselect-native-select button.multiselect .caret {
      position: absolute;
      border-right-width: 3px;
      border-left-width: 3px;
      border-top-width: 6px;
      bottom: 8px;
      right: 3px; }
  .multiselect-native-select button:active:focus {
    background-color: transparent; }
  .multiselect-native-select .multiselect-container li .input-group {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    padding: 0 10px 12px;
    margin: 7px 0 0px;
    width: 100%; }
    .multiselect-native-select .multiselect-container li .input-group .input-group-addon {
      font: normal 0.95em/normal Calibri, Sans-serif, Arial;
      position: absolute;
      background-color: transparent;
      width: auto;
      height: auto;
      border-radius: 0px;
      text-align: left;
      color: #a5b3b7;
      border: 0 none;
      bottom: 17px;
      padding: 0;
      left: 10px;
      margin: 0; }
    .multiselect-native-select .multiselect-container li .input-group .multiselect-search {
      padding-left: 20px; }
    .multiselect-native-select .multiselect-container li .input-group .input-group-btn {
      margin: -22px 0px 0 0px;
      float: right;
      width: auto; }
      .multiselect-native-select .multiselect-container li .input-group .input-group-btn .btn {
        background: transparent;
        color: #0f7f97;
        border: 0;
        padding: 0;
        z-index: 9;
        outline: 0; }

.open > .dropdown-toggle.btn-default, .open > .dropdown-toggle.btn-default {
  border-color: #0f7f97; }
  .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
    border-color: #0f7f97; }

.multiselect-container {
  width: 100%;
  top: 27px; }
  .multiselect-container li {
    padding: 0;
    display: block;
    font-size: 1.1em; }
    .multiselect-container li a {
      padding: 10px;
      width: 100%;
      display: block; }
      .multiselect-container li a label {
        margin: 0;
        padding: 0 0 0 22px; }
        .multiselect-container li a label input[type="checkbox"] {
          width: 15px;
          height: 15px;
          margin: 2px 0px 0 -23px;
          font-weight: normal;
          min-height: auto;
          box-shadow: none;
          font-size: .5em; }
    .multiselect-container li.active a, .multiselect-container li.active a:focus, .multiselect-container li.active a:hover {
      background-color: #0f7f97; }
      .multiselect-container li.active a label, .multiselect-container li.active a:focus label, .multiselect-container li.active a:hover label {
        color: #fff; }

/** common for form styling **/
/** common label "*" integrated text **/
.astricktLbl .allowAstrick label::after {
  content: "*";
  color: #ff0000; }

/** common label "*" integrated text **/
/** pagination UI **/
.recordsPerPage {
  position: absolute;
  font-size: 0.9em;
  width: auto; }
  .recordsPerPage a {
    color: #444444; }
    .recordsPerPage a:hover {
      color: #0f7f97; }
  .recordsPerPage .currentRecordPerPage {
    color: #0f7f97; }

.pagingUI {
  display: inline-block;
  font-family: Calibri, Sans-serif, Arial;
  color: #444444;
  padding: 0 10px;
  margin: 5px 0 0;
  width: 100%;
  /** tabular pagination **/
  /** tabular pagination **/ }
  .pagingUI .showingData {
    margin: .2em 0 0 0;
    text-align: left;
    font-size: .9em;
    width: auto;
    float: left; }
  .pagingUI .pagination2Wrapper {
    display: inline-block;
    float: right;
    margin: 0; }
    .pagingUI .pagination2Wrapper a {
      box-shadow: 0 0 0 1px #92827a inset, 0 0 4px #ccc;
      font: bold 1.1em Calibri, Sans-serif, Arial;
      width: 23px;
      height: 23px;
      display: inline-block;
      color: #0f7f97;
      border-radius: 6px;
      vertical-align: top;
      text-align: center;
      margin: 0 0 0 5px;
      border: 0 none;
      float: none;
      padding: 0; }
      .pagingUI .pagination2Wrapper a:hover {
        box-shadow: 0 0 0 1px #fff inset, 0 0 4px #999;
        background-color: #0f7f97; }
      .pagingUI .pagination2Wrapper a.previous i, .pagingUI .pagination2Wrapper a.next i {
        color: #444444; }
      .pagingUI .pagination2Wrapper a.previous:hover i, .pagingUI .pagination2Wrapper a.next:hover i {
        color: #fff; }
      .pagingUI .pagination2Wrapper a i {
        font-weight: bold;
        margin: 0; }
      .pagingUI .pagination2Wrapper a.pageNo {
        color: #444444;
        background: none;
        box-shadow: none; }
      .pagingUI .pagination2Wrapper a:hover {
        color: #fff; }
      .pagingUI .pagination2Wrapper a.selected {
        color: #0f7f97; }
  .pagingUI.btmPagination {
    border-top: 1px solid #e1e1e1;
    padding: 7px 10px 0;
    margin: 5px 0 0; }

@media (min-width: 320px) {
  .showingData {
    width: 100%; } }
@media (min-width: 768px) {
  .showingData {
    width: auto; } }
/** pagination UI **/
/*
	*Login page ui
*/
.loginBox h2 {
  font: 600 1.2em "AvantGradeBold";
  color: #0f7f97;
  margin: 0 0 10px 0;
  padding: 0 0 0 17px; }
.loginBox .lgn_cont {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px #bbb;
  width: 328px;
  height: 206px;
  border: 1px solid #acacab;
  text-transform: lowercase;
  border-radius: 25px;
  padding: 25px; }
  .loginBox .lgn_cont input[type="text"] {
    padding-right: 20px; }
  .loginBox .lgn_cont input[type="password"] {
    padding-right: 40px; }
.loginBox .lgn_access_lnk {
  border: 0 none;
  box-shadow: none;
  font-weight: 600;
  width: auto;
  float: right;
  font-size: .9em; }
  .loginBox .lgn_access_lnk:focus {
    border-width: 0px;
    box-shadow: none; }
.loginBox .lgn_inc1 {
  width: 74px;
  height: 271px;
  display: inline-block; }
.loginBox .lgnSprt {
  background: url("../../img/login_sprt.png") no-repeat top left;
  width: 36px;
  height: 20px;
  display: inline-block; }
  .loginBox .lgnSprt.exclaim_lgn_img {
    background-position: -13px -15px;
    position: absolute;
    width: 74px;
    height: 271px;
    right: -25px;
    top: 7px; }
  .loginBox .lgnSprt.logn_Icn {
    background-position: -143px -12px;
    width: 30px;
    height: 30px;
    margin: 0 0 -7px -3px; }
  .loginBox .lgnSprt.usr_icn_lgn, .loginBox .lgnSprt.psw_icn_lgn {
    position: absolute;
    bottom: 5px;
    right: 0; }
  .loginBox .lgnSprt.usr_icn_lgn {
    background-position: -134px -68px; }
  .loginBox .lgnSprt.psw_icn_lgn {
    background-position: -134px -112px; }

/*!
 * angular-aside - v1.1.2
 * https://github.com/dbtek/angular-aside
 * 2014-12-24
 * Copyright (c) 2014 ─░smail Demirbilek
 * License: MIT
 */
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInTop {
  -webkit-animation-name: fadeInTop;
  animation-name: fadeInTop; }

@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.fadeInBottom {
  -webkit-animation-name: fadeInBottom;
  animation-name: fadeInBottom; }

@-webkit-keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); } }
.fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft; }

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@keyframes fadeOutRight {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
.fadeOutRight {
  -webkit-animation-name: fadeOutRight;
  animation-name: fadeOutRight; }

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@keyframes fadeOutUp {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp; }

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeOutDown {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown; }

/* Common */
.ng-aside {
  overflow-y: auto;
  overflow-x: hidden;
  /** horizontalEffect **/
  /** verticalEffect **/ }
  .ng-aside.fade .modal-dialog {
    -o-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -webkit-transition: none;
    transition: none;
    /*CSS transforms*/
    -o-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none; }
  .ng-aside .modal-dialog {
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    position: absolute;
    box-shadow: 2px 2px 2px #ccc;
    margin: 0;
    padding: 0;
    width: 75px; }
    .ng-aside .modal-dialog .modal-content {
      border-radius: 0;
      overflow-y: auto;
      overflow-x: hidden;
      border: none;
      padding: 0;
      box-shadow: none; }
      .ng-aside .modal-dialog .modal-content .modal-body {
        position: relative;
        max-height: none;
        padding: 0; }
        .ng-aside .modal-dialog .modal-content .modal-body ul {
          padding: 0;
          border: 0 none;
          display: block;
          width: 75px; }
          .ng-aside .modal-dialog .modal-content .modal-body ul li:last-child a {
            border-bottom: 0 none; }
          .ng-aside .modal-dialog .modal-content .modal-body ul a {
            padding: .3em 0 .1em;
            border-bottom: 1px solid #cdcdcd; }
            .ng-aside .modal-dialog .modal-content .modal-body ul a .btn {
              padding: 0;
              margin: 0; }
            .ng-aside .modal-dialog .modal-content .modal-body ul a b {
              display: block;
              font-size: .9em;
              font-weight: normal;
              color: #444444; }
            .ng-aside .modal-dialog .modal-content .modal-body ul a:hover {
              background: transparent; }
  .ng-aside.horizontal {
    height: 100%; }
    .ng-aside.horizontal .modal-dialog {
      position: absolute;
      top: 10%; }
      .ng-aside.horizontal .modal-dialog .modal-content {
        text-align: center;
        width: 133px;
        background: none; }
    .ng-aside.horizontal.left .modal-dialog {
      position: static;
      left: 0;
      top: 10%; }
    .ng-aside.horizontal.left.in .modal-dialog {
      animation: fadeInLeft 400ms;
      -webkit-animation: fadeInLeft 400ms;
      -moz-animation: fadeInLeft 400ms;
      -o-animation: fadeInLeft 400ms;
      -ms-animation: fadeInLeft 400ms; }
    .ng-aside.horizontal.right .modal-dialog {
      right: 0;
      animation: fadeOutRight 400ms;
      -webkit-animation: fadeOutRight 400ms;
      -moz-animation: fadeOutRight 400ms;
      -o-animation: fadeOutRight 400ms;
      -ms-animation: fadeOutRight 400ms; }
    .ng-aside.horizontal.right.in .modal-dialog {
      animation: fadeInRight 250ms;
      -webkit-animation: fadeInRight 250ms; }
  .ng-aside.vertical {
    width: 100% !important;
    overflow: hidden; }
    .ng-aside.vertical .modal-dialog {
      left: 0;
      right: 0;
      width: 100% !important; }
      .ng-aside.vertical .modal-dialog .modal-content {
        max-height: 400px; }
    .ng-aside.vertical.top .modal-dialog {
      animation: fadeOutUp 250ms;
      -webkit-animation: fadeOutUp 250ms;
      -webkit-animation: fadeOutUp 250ms;
      -moz-animation: fadeOutUp 250ms;
      -o-animation: fadeOutUp 250ms;
      -ms-animation: fadeOutUp 250ms;
      top: 0; }
      .ng-aside.vertical.top .modal-dialog .modal-content {
        width: 100%; }
    .ng-aside.vertical.top.in .modal-dialog {
      animation: fadeInTop 250ms;
      -webkit-animation: fadeInTop 250ms;
      -webkit-animation: fadeInTop 250ms;
      -moz-animation: fadeInTop 250ms;
      -o-animation: fadeInTop 250ms;
      -ms-animation: fadeInTop 250ms; }
    .ng-aside.vertical.bottom .modal-dialog {
      animation: fadeOutDown 250ms;
      -webkit-animation: fadeOutDown 250ms;
      -webkit-animation: fadeOutDown 250ms;
      -moz-animation: fadeOutDown 250ms;
      -o-animation: fadeOutDown 250ms;
      -ms-animation: fadeOutDown 250ms;
      bottom: 0; }
    .ng-aside.vertical.bottom.in .modal-dialog {
      animation: fadeInBottom 250ms;
      -webkit-animation: fadeInBottom 250ms;
      -webkit-animation: fadeInBottom 250ms;
      -moz-animation: fadeInBottom 250ms;
      -o-animation: fadeInBottom 250ms;
      -ms-animation: fadeInBottom 250ms; }

.modal-open .ng-aside {
  display: flex !important;
  align-items: flex-start; }
  .modal-open .ng-aside.horizontal.left .modal-dialog {
    animation: fadeOutLeft 250ms;
    -webkit-animation: fadeOutLeft 250ms;
    -moz-animation: fadeOutLeft 250ms;
    -o-animation: fadeOutLeft 250ms;
    -ms-animation: fadeOutLeft 250ms; }

@media (min-height: 530px) {
  .modal-open .ng-aside {
    align-items: center; } }
/** leftNav **/
.sidemenu li a:active {
  background: transparent; }
.sidemenu li a .btn:active {
  box-shadow: none; }

.modal-backdrop {
  /* @include positioning(inherit); */ }

.modal-vertical-centered {
  transform: translate(0, 50%) !important;
  -ms-transform: translate(0, 50%) !important;
  /* IE 9 */
  -webkit-transform: translate(0, 50%) !important;
  /* Safari and Chrome */ }

.dtpckr_icn {
  position: relative; }
  .dtpckr_icn .ui-datepicker-trigger {
    position: absolute;
    background: #fff;
    cursor: pointer;
    bottom: 5px;
    right: 25px; }

.ui-datepicker {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid #0f7f97;
  width: 250px;
  height: auto;
  z-index: 9 !important;
  border-radius: 10px;
  background: #fff;
  font: 1em Calibri, Sans-serif, Arial;
  color: #444444;
  display: none;
  padding: 5px; }
  .ui-datepicker .ui-datepicker-header {
    background: #e1e1e1;
    border-radius: 5px;
    font-size: .85em;
    font-weight: 600;
    padding: 5px; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
      float: left; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-prev .ui-icon {
        background: url("../../img/prev_icn.png") no-repeat center center;
        position: absolute;
        width: 16px;
        height: 16px;
        text-indent: -99999px; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-next {
      float: right; }
      .ui-datepicker .ui-datepicker-header .ui-datepicker-next .ui-icon {
        background: url("../../img/next_icn.png") no-repeat center center;
        position: absolute;
        width: 16px;
        height: 16px;
        text-indent: -99999px; }
    .ui-datepicker .ui-datepicker-header .ui-datepicker-title {
      color: #0f7f97;
      text-align: center; }

/******************** verticle icons ********************/
.actnsVertIcns {
  text-align: right !important;
  font-size: 1.1em; }
  .actnsVertIcns.actnsSmlFnts {
    font-size: .8em; }
  .actnsVertIcns.actnsMdFnts {
    font-size: .9em; }
  .actnsVertIcns.shiftRight {
    float: right; }
  .actnsVertIcns a {
    width: auto;
    height: 100%;
    text-align: center;
    color: #444444;
    font-size: 0.8em;
    min-width: 40px;
    padding: 0 2px;
    margin: auto; }
    .actnsVertIcns a:hover, .actnsVertIcns a:active, .actnsVertIcns a:focus {
      color: #0f7f97; }
    .actnsVertIcns a span.actn-icn, .actnsVertIcns a span .dashboardRefreshIcon {
      background: url("../../img/cmn-icn-sprite.png") no-repeat top left;
      width: 30px;
      height: 30px;
      display: block;
      margin: auto; }
      .actnsVertIcns a span.actn-icn.add, .actnsVertIcns a span .dashboardRefreshIcon.add {
        background-position: -25px -70px; }
      .actnsVertIcns a span.actn-icn.edit, .actnsVertIcns a span .dashboardRefreshIcon.edit {
        background-position: -886px -70px; }
      .actnsVertIcns a span.actn-icn.view, .actnsVertIcns a span .dashboardRefreshIcon.view {
        background-position: -25px -70px; }
      .actnsVertIcns a span.actn-icn.delete, .actnsVertIcns a span .dashboardRefreshIcon.delete {
        background-position: -25px -70px; }
      .actnsVertIcns a span.actn-icn.history, .actnsVertIcns a span .dashboardRefreshIcon.history {
        background-position: -25px -70px; }
      .actnsVertIcns a span.actn-icn.print, .actnsVertIcns a span .dashboardRefreshIcon.print {
        background-position: -25px -70px; }
      .actnsVertIcns a span.actn-icn.cancel, .actnsVertIcns a span .dashboardRefreshIcon.cancel {
        background-position: -25px -70px; }
      .actnsVertIcns a span.actn-icn.save, .actnsVertIcns a span .dashboardRefreshIcon.save {
        background-position: -25px -70px; }
      .actnsVertIcns a span.actn-icn.dboard, .actnsVertIcns a span .dashboardRefreshIcon.dboard {
        background-position: -25px -70px; }
      .actnsVertIcns a span.actn-icn.copy, .actnsVertIcns a span .dashboardRefreshIcon.copy {
        background-position: -21px -9px; }
      .actnsVertIcns a span.actn-icn.deactive, .actnsVertIcns a span .dashboardRefreshIcon.deactive {
        background-position: -81px -9px; }
      .actnsVertIcns a span.actn-icn .srch, .actnsVertIcns a span .dashboardRefreshIcon .srch {
        background-position: -81px -9px; }
      .actnsVertIcns a span.actn-icn .adv, .actnsVertIcns a span .dashboardRefreshIcon .adv {
        background-position: -81px -9px; }
      .actnsVertIcns a span.actn-icn .rst, .actnsVertIcns a span .dashboardRefreshIcon .rst {
        background-position: -81px -9px; }

.noCircleIcons {
  width: auto;
  text-align: center;
  display: inline-block; }
  .noCircleIcons .icnLabel {
    font: 0.8em "AvantGradeRegular";
    color: #444444; }
  .noCircleIcons .icns {
    background: url("../../img/cmn-icn-sprite.png") no-repeat top left;
    width: 33px;
    height: 32px;
    display: block;
    margin: auto; }
    .noCircleIcons .icns.copy {
      background-position: -633px -10px; }
  .noCircleIcons a:hover .icnLabel {
    color: #0f7f97; }

/******************** verticle icons ********************/

/*# sourceMappingURL=main.css.map */
