<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#FFF5ED; width:500px">
	<tbody>
		<tr>
			<td colspan="3">
			<table border="0" cellpadding="0" cellspacing="0" style="background:#452311; width:100%">
				<tbody>
					<tr>
						<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><img alt="logo" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/clove-logo.png" /></td>
					</tr>
					<tr>
						<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2"><span style="font-family:helvetica,arial,sans-serif; font-size:12px">Dear </span>***PATIENT_NAME***<span style="font-family:helvetica,arial,sans-serif; font-size:12px">, </span></td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">
						<p>Please review&nbsp; ***COMMUNICATION_LINK*** for more information related to your ongoing treatment.&nbsp;&nbsp;</p>

						<p>For any queries, contact us at:&nbsp;***FACILITY_PHONE***.</p>
						</td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">You can read more about Clove Dental at <a href="http://***FACILITY_WEBSITE***" style="font-size:12px; font-family: Helvetica,Arial,sans-serif;">***FACILITY_WEBSITE***</a></td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td style="text-align:right"><span style="font-family:helvetica,arial,sans-serif; font-size:12px"><strong>Clove</strong></span> ***FACILITYNAME***<br />
			<span style="font-family:helvetica,arial,sans-serif; font-size:12px">***FACILITY_STREET***, ***FACILITY_CITY***<br />
			<a href="http://***FACILITY_WEBSITE***">***FACILITY_WEBSITE***</a> </span></td>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td colspan="3"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
	</tbody>
</table>
