<table align="center" border="0" cellpadding="0" cellspacing="0" style="background:#FFF5ED; width:100%">
	<tbody>
		<tr>
			<td colspan="3">
			<table border="0" cellpadding="0" cellspacing="0" style="background:#452311; width:100%">
				<tbody>
					<tr>
						<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td style="text-align:center"><img alt="logo" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/clove-logo.png" /></td>
					</tr>
					<tr>
						<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td>
			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
				<tbody>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">Dear Zonal Clinical Head,</td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2">This is to nofiy you that the following attached Treatment(s) are still &quot;In Progress&quot; from their maximum time period.</td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2"><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
					</tr>
					<tr>
						<td colspan="2"><strong>Note</strong>:&nbsp; Please get in touch with the patient(s) and schedule appointment(s) to remove them from the current list.</td>
					</tr>
				</tbody>
			</table>
			</td>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
			<td><span style="background-color:rgb(255, 245, 237)">With Best Regards,</span><br />
			<span style="background-color:rgb(255, 245, 237)">PRM Admin.</span></td>
			<td><img alt="" src="http://prmuat-env.elasticbeanstalk.com/Clove-Server/web/images/spacer.gif" style="height:10px" /></td>
		</tr>
		<tr>
			<td colspan="3">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3"><span style="background-color:rgb(255, 245, 237)">&nbsp;&nbsp; <strong>*</strong> This is a computer auto generated mail. Please do not respond to this email.</span></td>
		</tr>
	</tbody>
</table>
